.OtherEventsCtn {
  margin-top: 8vw;
}
.OtherEventsCtn .OtherEvents_MainImageCtn {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
.OtherEvents {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  .OtherEvents {
    min-width: 320px;
    scroll-snap-align: start;
  }
}
.BasicUI .OtherEvents {
  min-width: unset;
  scroll-snap-align: unset;
}
.center_row_trgt.ItemCount_1 .OtherEvents {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 .OtherEvents {
    width: 100%;
  }
}
.OtherEvents_EventCtn {
  display: block;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  min-height: 210px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.OtherEvents_EventCtn:not(:last-child) {
  margin-right: 8px;
}
.OtherEvents_EventCtn:hover .OtherEvents_MainImage {
  transform: scale(1.1);
}
.BasicUI .OtherEvents_EventCtn {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
  min-width: var(--gpWidth-3colcap);
}
.SaleSectionCarouselPadding .OtherEvents_EventCtn {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding .OtherEvents_EventCtn {
    margin: 0px 16px 0px 0px;
  }
}
.BasicUI .SaleSectionCarouselPadding .OtherEvents_EventCtn {
  margin: unset;
}
.OtherEvents_BGImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px);
}
.BasicUI .OtherEvents_BGImage {
  filter: unset;
}
.OtherEvents_BGImage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.BasicUI .OtherEvents_BGImage::after {
  backdrop-filter: blur(32px);
}
.OtherEvents_ContentCtn {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.OtherEvents_MainImageCtn {
  width: 100%;
  max-height: 171px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.ContentHubSalePage .OtherEvents_MainImageCtn {
  max-height: 197px;
}
.OtherEvents_MainImageCtn.MaskImages img,
.HoversEnabled:hover
  .OtherEvents_MainImageCtn.MaskImages
  img {
  filter: blur(30px);
  clip-path: inset(0);
}
.OtherEvents_MainImage {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform .4s ease-out;
  top: 0px;
  display: block;
}
.OtherEvents_TextCtn {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  height: 61px;
  padding: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.BasicUI .OtherEvents_TextCtn {
  padding: 12px 16px;
  padding-bottom: 48px;
}
.OtherEvents_TextCtn.OtherEvents_TextCtn {
  box-sizing: content-box;
}
.OtherEvents_TextTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  max-height: 39px;
  margin-bottom: 4px;
  overflow: hidden;
}
.items_in_row_4 .OtherEvents_TextTitle {
  line-height: 16px;
  max-height: 32px;
}
.UpcomingCtn {
  color: #07bfff;
}
.OtherEvents_SubTitle {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 .OtherEvents_SubTitle {
  display: none;
}
@media screen and (max-width: 900px) {
  .OtherEvents_SubTitle {
    display: none;
  }
}
.HoversEnabled:hover .OtherEvents_MainImage,
.HoversEnabled:hover .PartnerEventRowCapsule_MainImage {
  transform: scale(0.98);
  filter: blur(3px) brightness(0.7);
  z-index: 0;
}
.HoversEnabled:hover .EventSummaryContainer {
  background-color: rgba(21, 22, 25, 0.7);
}
.HoversEnabled:hover .EventSummaryContainer .EventSummaryText {
  filter: blur(0);
  transform: scale(1);
  color: #fff;
}
.HoversEnabled:hover
  .EventSummaryContainer
  .EventSummaryType {
  filter: blur(0);
  color: #289cff;
  transform: scale(1);
}
.EventSummaryContainer {
  position: absolute;
  top: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color .24s ease-in-out;
}
.EventSummaryText {
  margin: 10px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0);
  line-height: 20px;
  font-weight: 300;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter .24s ease-in-out, transform .24s ease-in-out, color .24s
    ease-in-out;
}
.items_in_row_4 .EventSummaryText {
  line-height: 16px;
}
.EventSummaryType {
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter .24s ease-in-out, transform .24s ease-in-out, color .24s
    ease-in-out;
}
.OtherEvents_EventCtn.HorizontalEvent {
  display: flex;
  background: radial-gradient(
    156.1% 79.95% at 10.31% 0%,
    #1f2f41 0%,
    #303e4f 100%
  );
  min-height: auto;
}
.OtherEvents_EventCtn.HorizontalEvent .OtherEvents_TextCtn {
  margin-left: 8px;
}
.OtherEvents_EventCtn.HorizontalEvent .OtherEvents_MainImageCtn {
  max-height: 167px;
  max-width: 358px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.OtherEvents_EventCtn.HorizontalEvent .HorizontalSummary {
  color: #929799;
  font-size: 13px;
  position: relative;
  padding-top: 4px;
  max-width: 600px;
  max-height: 38px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.OtherEvents_EventCtn.HorizontalEvent .HorizontalTitle {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  line-height: 20px;
}
.OtherEvents_EventCtn.HorizontalEvent .HorizontalDescriptionCtn {
  flex-direction: row;
}
.OtherEvents_EventCtn.HorizontalEvent .HorizontalDescription {
  text-transform: uppercase;
  color: rgba(40, 156, 255, 0.8);
  font-size: 12px;
  display: initial;
  margin-right: 4px;
}
.AppCapsuleImage.AppCapsuleImage.AppCapsuleImage {
  width: 120px;
  box-shadow: 2px 2px 10px #000;
}
.BasicUI
  .AppCapsuleImage.AppCapsuleImage.AppCapsuleImage {
  box-shadow: var(--gpShadow-Medium);
}
.AppCapsuleCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
}
.BasicUI .AppCapsuleCtn {
  top: 8px;
  left: 0px;
  width: unset;
  justify-content: unset;
  column-gap: 12px;
}
.AppCapsuleImageHover {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.BasicUI .AppCapsuleImageHover {
  margin-right: unset;
}
.BasicUI .AppCapsuleImageHover a {
  display: flex;
}
.AppCapsulePrice {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
.BasicUI .AppCapsulePrice {
  background: unset;
  flex-direction: row;
  column-gap: 4px;
}
.AppCapsulePrice span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
.BasicUI .AppCapsulePrice span {
  font-size: unset;
  line-height: unset;
}
.AppCapsulePrice span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.BasicUI .AppCapsulePrice span:first-child {
  padding-top: unset;
}
.AppCapsulePrice span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.BasicUI .AppCapsulePrice span:last-child {
  padding-bottom: unset;
}
.StoreSalePriceWidget {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.StoreSaleDiscountedPriceCtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
}
.StoreSaleDiscountedPriceCtn .StoreSalePriceBox {
  padding: 0px;
  line-height: 16px;
}
.StoreSaleDiscountedPriceCtn .StoreSaleReservationPriceBox {
  background: none;
  color: #fff;
  font-size: .7em;
  font-weight: 600;
  padding: 0px;
}
.StoreSaleDiscountBox {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  padding: 3px 5px;
  background-color: #4c6b22;
  color: #a4d007;
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.StoreSaleDiscountBox.FromCoupon {
  background-color: #007eb3;
  color: #fff;
}
.StoreOriginalPrice {
  text-decoration: line-through;
  color: #626366;
  font-size: 11px;
  line-height: 11px;
  margin-top: 2px;
}
.StoreSalePriceBox {
  background: #000;
  font-size: 14px;
  padding: 5px;
  background-color: #000;
  align-items: center;
  display: flex;
}
.StoreSaleReservationPriceBox {
  background: none;
  color: #fff;
  font-size: .7em;
  font-weight: 600;
  padding: 0px;
}
.avatarHolder {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: .34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
.avatarHolder.X-Small {
  height: 28px;
  width: 28px;
}
.avatarHolder.Medium {
  height: 36px;
  width: 36px;
}
.avatarHolder.MediumLarge {
  height: 48px;
  width: 48px;
}
.avatarHolder.Large {
  height: 84px;
  width: 84px;
}
.avatarHolder.X-Large {
  height: 92px;
  width: 92px;
}
.avatarHolder.FillArea {
  height: 100%;
  width: 100%;
}
.ChatSpeaker.ChatRoomSpeaker .avatarHolder {
  transform: scale(1, 1) translateX(0px);
}
.avatarHolder .avatarStatus.right,
.avatarHolder .avatarStatus.bottom {
  display: block !important;
}
.ingame .avatarStatus {
  background: linear-gradient(
    to bottom,
    #8cd61d 0%,
    #a1f410 30%,
    #a1f410 70%,
    #8cd61d 100%
  );
}
.ingame .avatarStatus.GamepadMode,
.GamepadMode .ingame .avatarStatus {
  background: #59bf40;
}
.offline .avatarStatus.GamepadMode,
.GamepadMode .offline .avatarStatus {
  background: #67707b;
}
.ingame .X-Large .avatarStatus {
  background: #bff02b;
}
.watchingbroadcast .avatarStatus {
  background: linear-gradient(
    to bottom,
    #9c8fd4 0%,
    #9c8fd4 30%,
    #9c8fd4 70%,
    #9c8fd4 100%
  );
}
.online .avatarStatus {
  background: linear-gradient(
    to bottom,
    #6dcff6 0%,
    #6dcff6 30%,
    #6dcff6 70%,
    #6dcff6 100%
  );
}
.online .avatarStatus.GamepadMode,
.GamepadMode .online .avatarStatus {
  background: #4cb4ff;
}
.awayOrSnooze .avatarStatus {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
.awayOrSnooze .avatarStatus.GamepadMode,
.GamepadMode .awayOrSnooze .avatarStatus {
  opacity: 1;
}
.avatarStatus.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
}
.avatarStatus.right.GamepadMode,
.GamepadMode .avatarStatus.right {
  width: 3px;
  right: -3px;
}
.avatarStatus.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}
.avatarStatus.bottom.GamepadMode,
.GamepadMode .avatarStatus.bottom {
  height: 3px;
  bottom: -3px;
}
.awayOrSnooze .avatarStatus.bottom {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
.awayOrSnooze .X-Large .avatarStatus.bottom {
  mask-size: 6px 6px;
  opacity: 1;
}
.avatar {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter .24s ease-in-out;
}
.avatar.GamepadMode,
.GamepadMode .avatar {
  border: 0px solid transparent;
  height: 100%;
  width: 100%;
}
.avatarFrame {
  position: absolute;
  top: 0;
}
.avatarFrame .avatarFrameImg {
  width: 100%;
  height: 100%;
}
.avatarHolder .avatarFrame {
  transform: scale(1.2);
}
Body.v6.tag_page.contenthub_page {
  background-color: #202327;
}
.MainCarousel {
  width: 100%;
  position: unset;
}
.MainCarousel .carousel .SliderBody button {
  width: 60px;
  top: 0px;
  height: 200px;
  padding-left: 7px;
  margin: auto 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.MainCarousel .carousel .SliderBody button:hover {
  background: #fff;
}
.MainCarousel .carousel .SliderBody button:hover svg polygon {
  fill: #000;
}
.MainCarousel .carousel .SliderBody .carousel__slider {
  position: unset;
}
.MainCarousel .FeatureCtn {
  width: 940px;
  height: 640px;
  margin: 0 auto;
}
.StoreSection {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}
html.tablet .StoreSection {
  width: unset;
}
@media screen and (max-width: 910px) {
  .StoreSection {
    width: unset;
  }
}
.StoreSection .SectionTitle {
  position: relative;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 8px;
  padding-left: 8px;
}
html.tablet .StoreSection .SectionTitle {
  font: var(--gpText-HeadingSmall);
  font-weight: 500;
  text-transform: unset;
  letter-spacing: unset;
  text-shadow: unset;
  margin-bottom: 8px;
  padding: unset;
}
@media screen and (max-width: 910px) {
  .StoreSection .SectionTitle {
    font: var(--gpText-HeadingSmall);
    font-weight: 500;
    text-transform: unset;
    letter-spacing: unset;
    text-shadow: unset;
    margin-bottom: 8px;
    padding: unset;
  }
}
.SectionDescription {
  font-size: 16px;
  opacity: 50%;
  letter-spacing: 1px;
  margin-left: 8px;
  text-transform: none;
}
html.tablet .SectionDescription {
  font: var(--gpText-BodyMedium);
  letter-spacing: unset;
  padding: unset;
}
@media screen and (max-width: 910px) {
  .SectionDescription {
    font: var(--gpText-BodyMedium);
    letter-spacing: unset;
    padding: unset;
  }
}
@media screen and (max-width: 940px) {
  .SectionDescription {
    display: block;
    padding-left: 8px;
  }
  html.tablet .SectionDescription {
    margin-left: 0px;
  }
}
@media screen and (max-width: 940px) and (max-width: 910px) {
  .SectionDescription {
    margin-left: 0px;
  }
}
.SectionTitleCtn {
  margin-top: 30px;
  font-weight: 300;
  margin-bottom: 8px;
}
html.tablet .SectionTitleCtn {
  font: var(--gpText-BodyMedium);
  letter-spacing: unset;
  margin-top: 12px;
  padding: 0px var(--gpSpace-Gutter);
}
@media screen and (max-width: 910px) {
  .SectionTitleCtn {
    font: var(--gpText-BodyMedium);
    letter-spacing: unset;
    margin-top: 12px;
    padding: 0px var(--gpSpace-Gutter);
  }
}
html.tablet .contenthubsections {
  padding-bottom: 16px;
}
@media screen and (max-width: 910px) {
  .contenthubsections {
    padding-bottom: 16px;
  }
}
.ContentHubSalePage .MainCarousel {
  max-width: 1100px;
  margin: 0px auto 20px auto;
}
@media screen and (max-width: 1250px) {
  .ContentHubSalePage .MainCarousel {
    max-width: 84vw;
  }
}
html.tablet .ContentHubSalePage .MainCarousel {
  max-width: unset;
  margin-bottom: 0px;
  padding-bottom: 8px;
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage .MainCarousel {
    max-width: unset;
    margin-bottom: 0px;
    padding-bottom: 8px;
  }
}
.ContentHubSalePage .contenthubmaincarousel {
  overflow-x: hidden;
}
html.tablet .ContentHubSalePage .contenthubmaincarousel {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  scroll-padding: 0px var(--gpSpace-Gutter);
}
html.tablet .ContentHubSalePage .contenthubmaincarousel .SliderBody ul {
  gap: 12px;
}
html.tablet .ContentHubSalePage .contenthubmaincarousel .SliderBody ul li {
  width: calc(100vw - 2 * var(--gpSpace-Gutter)) !important;
  max-width: calc(100vw - 2 * var(--gpSpace-Gutter)) !important;
  overflow: hidden;
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage .contenthubmaincarousel {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    scroll-padding: 0px var(--gpSpace-Gutter);
  }
  .ContentHubSalePage .contenthubmaincarousel .SliderBody ul {
    gap: 12px;
  }
  .ContentHubSalePage .contenthubmaincarousel .SliderBody ul li {
    width: calc(100vw - 2 * var(--gpSpace-Gutter)) !important;
    max-width: calc(100vw - 2 * var(--gpSpace-Gutter)) !important;
    overflow: hidden;
  }
}
html.tablet .ContentHubSalePage .carousel__slider-tray-wrapper {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: unset;
  scroll-padding: 0px var(--gpSpace-Gutter);
  padding: 4px var(--gpSpace-Gutter);
}
html.tablet
  .ContentHubSalePage
  .carousel__slider-tray-wrapper
  .carousel__slide {
  scroll-snap-align: start;
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage .carousel__slider-tray-wrapper {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: unset;
    scroll-padding: 0px var(--gpSpace-Gutter);
    padding: 4px var(--gpSpace-Gutter);
  }
  .ContentHubSalePage .carousel__slider-tray-wrapper .carousel__slide {
    scroll-snap-align: start;
  }
}
html.tablet .ContentHubSalePage .carousel__slider-tray:after {
  content: " ";
  min-width: var(--gpSpace-Gutter);
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage .carousel__slider-tray:after {
    content: " ";
    min-width: var(--gpSpace-Gutter);
  }
}
.ContentHubSalePage .contenthubmaincarousel.expanded {
  display: block;
  width: 100%;
}
html.tablet .ContentHubSalePage .contenthubmaincarousel.expanded {
  position: unset;
  height: unset;
  display: block;
  width: 100%;
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage .contenthubmaincarousel.expanded {
    position: unset;
    height: unset;
    display: block;
    width: 100%;
  }
}
.ContentHubSalePage .SaleSectionTabListContainer {
  position: unset;
}
.ContentHubSalePage
  .SaleSectionTabListContainer
  .SaleSectionCtn.contenthubpartnertakeover.expanded:not(:empty):first-child {
  margin-bottom: 456px;
}
html.tablet
  .ContentHubSalePage
  .SaleSectionTabListContainer
  .SaleSectionCtn.contenthubpartnertakeover.expanded:not(:empty):first-child {
  margin-bottom: unset;
}
@media screen and (max-width: 910px) {
  .ContentHubSalePage
    .SaleSectionTabListContainer
    .SaleSectionCtn.contenthubpartnertakeover.expanded:not(:empty):first-child {
    margin-bottom: unset;
  }
}
@media screen and (max-width: 1000px) {
  .ContentHubSalePage
    .SaleSectionTabListContainer
    .SaleSectionCtn.contenthubpartnertakeover.expanded:not(:empty):first-child {
    margin-bottom: 470px;
  }
}
@media screen and (max-width: 1000px) {
  .ContentHubSalePage .SaleTagBlockCtn .TagBox {
    display: none;
  }
}
.SpotlightsColumn {
  display: flex;
  max-width: 306px;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
@media screen and (max-width: 910px) {
  .SpotlightsColumn {
    margin: 0 16px 0 0;
  }
}
.SpotlightsColumn .CapsuleBottomBar {
  height: 44px;
}
.SpotlightsColumn .SpecialsItem:last-child {
  margin-top: 16px;
}
.SpotlightsColumn .SpecialsItem:only-child {
  margin-top: 0;
}
.SpotlightCtn {
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 100%;
  transition: filter .3s ease-in-out;
}
.SpotlightCtn:hover {
  filter: brightness(1.2);
}
@media screen and (max-width: 910px) {
  .SpotlightCtn {
    min-width: 300px;
    scroll-snap-align: start;
  }
}
.BasicUI .SpotlightCtn {
  min-width: unset;
  scroll-snap-align: unset;
}
.SpotlightCtn .SpotlightImageCtn {
  position: relative;
  padding-top: calc(93.4782608696% + 44px + 44px + 16px);
}
.SpotlightCtn .SpotlightImageCtn img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.SpotlightCtn .CapsuleDecorators {
  margin-left: 4px;
}
.SpotlightCtn .SpotlightTextCtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: radial-gradient(
    78.46% 78.46% at 50% 21.54%,
    #000f18 0%,
    #0f1f29 100%
  );
}
.SpotlightCtn .SpotlightTextCtn .SpotlightTitle {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .03em;
  padding: 10px 16px 10px;
}
.SpotlightCtn .SpotlightTextCtn .SpotlightBody {
  font-size: 12px;
  font-weight: 200;
  padding: 0 16px 8px;
}
.SpotlightCtn .SpotlightWeeklongTextCtn {
  position: absolute;
  bottom: 0;
  width: 306px;
  height: 39px;
  background: url(https://store.akamai.steamstatic.com/public/images/v6/spotlight_background.jpg?v=1)
    bottom center no-repeat;
}
.SpotlightCtn .SpotlightWeeklongTextCtn .SpotlightTitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1ch;
  padding: 8px 16px 2px;
}
.SpotlightCtn .SpotlightWeeklongTextCtn .SpotlightBody {
  color: #acdbf5;
  font-size: 12px;
  padding: 0 16px 8px;
}
.SpotlightCtn .SpotlightWeeklongTextCtn .SpotlightItemCount {
  position: absolute;
  top: -132px;
  font-size: 40px;
  font-weight: bold;
  width: 306px;
  text-align: center;
}
.SpotlightCtn .BottomBarPriceInfo {
  margin-left: 16px;
  margin-top: 4px;
  display: flex;
}
.BroadcastPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.BroadcastCtn {
  height: 190px;
  margin-bottom: 9px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}
.BroadcastCtn .BroadcastImageCtn {
  height: 136px;
  position: relative;
}
.BroadcastCtn .BroadcastImageCtn a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
.BroadcastCtn .BroadcastImageCtn a img.BroadcastVideoThumbnail {
  z-index: 10;
}
.BroadcastCtn .BroadcastImageCtn a .BroadcastPlayIcon {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BroadcastCtn .BroadcastImageCtn a .BroadcastPlayIcon svg {
  z-index: 20;
  width: 48px;
  height: 48px;
  padding: auto;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
}
.BroadcastCtn .BroadcastTextCtn {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  flex-grow: 1;
}
.BroadcastCtn .BroadcastTextCtn .BroadcastName {
  font-size: 14px;
  padding: 4px;
  padding-left: 8px;
}
.BroadcastCtn .BroadcastTextCtn .BroadcastDesc {
  font-size: 12px;
  padding: 4px;
  padding-left: 8px;
  padding-top: 0;
}
.DailyDealCtn {
  min-width: 300px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.DailyDealCtn .DailyDealImageCtn {
  padding: 46.7391304348% 0 0 0;
}
.DailyDealCtn .DailyDealImageCtn img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.DailyDealCtn .DailyDealTextCtn {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "title discount" "title discount";
  bottom: 0;
  width: 100%;
  height: 44px;
  padding: 3px 3px 3px 8px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #badff3 5%, #abdaf4 95%);
  background: linear-gradient(to bottom, #badff3 5%, #abdaf4 95%);
}
.DailyDealCtn .DailyDealTextCtn .DailyDealDesc {
  grid-area: title;
  font-size: 14px;
  color: #283846;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html.tablet .ContentHubTakeoverCtn {
  height: unset !important;
  margin: 0px var(--gpSpace-Gutter) 16px;
  box-shadow: var(--gpShadow-Medium);
}
@media screen and (max-width: 910px) {
  .ContentHubTakeoverCtn {
    height: unset !important;
    margin: 0px var(--gpSpace-Gutter) 16px;
    box-shadow: var(--gpShadow-Medium);
  }
}
@media screen and (max-width: 500px) {
  .ContentHubTakeoverCtn {
    margin: 0px 0px 16px 0px;
    box-shadow: var(--gpShadow-Medium);
  }
}
.ContentHubTakeoverCtn a {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
html.tablet .ContentHubTakeoverCtn a {
  position: unset;
  height: 32vw;
  overflow: hidden;
}
@media screen and (max-width: 910px) {
  .ContentHubTakeoverCtn a {
    position: unset;
    height: 32vw;
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  .ContentHubTakeoverCtn a {
    height: unset;
  }
}
.ContentHubTakeoverCtn a img {
  margin: 0 auto;
}
html.tablet .ContentHubTakeoverCtn a img {
  margin: auto;
  height: inherit;
}
@media screen and (max-width: 910px) {
  .ContentHubTakeoverCtn a img {
    margin: auto;
    height: inherit;
  }
}
.TweaksMenu {
  position: absolute;
  left: 100px;
  top: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px rgba(255, 255, 255, 0.3) solid;
  border-radius: 4px;
  width: 200px;
  z-index: 100;
}
.TweaksMenu .MenuTitle {
  padding: 8px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px rgba(0, 0, 0, 0.8) solid;
}
.TweaksMenu .MenuOptions {
  padding: 8px;
}
.TweaksMenu .MenuOptions .DialogCheckbox_Container {
  margin-bottom: 0;
  padding: 1px;
  height: 22px;
}
.TweaksMenu
  .MenuOptions
  .DialogCheckbox_Container
  .DialogToggle_Label {
  margin-top: 2px;
}
.TwoWidthCtn {
  display: flex;
  flex-direction: row;
}
.TwoWidthCtn:hover {
  color: #fff;
}
.TwoWidthCapsule {
  width: 220px;
  position: relative;
  flex-shrink: 0;
}
.TwoWidthCapsule video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.TwoWidthSideInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  width: 220px;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px;
}
.TwoWidthSideInfo .Reason {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: 300;
  background: #66c0f4;
  width: fit-content;
  padding: 0 6px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.TwoWidthSideInfo .StoreSaleItemRelease {
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.TwoWidthSideInfo .SaleTagBlockCtn .TagBox {
  max-height: 38px;
}
.widestore .TwoWidthCapsule {
  width: 285px;
}
.widestore .TwoWidthSideInfo {
  width: 100%;
}
