.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 4px;
}
@media (max-width: 1024px) {
  .Header {
    margin-bottom: 8px;
  }
}
.StoreItemsCarousel {
  position: relative;
  border-radius: 5px;
  background: radial-gradient(
    62.67% 62.67% at 62.67% 100%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(116, 133, 140, 0.15) 100%
  );
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin-bottom: 20px;
}
.StoreItemsCarousel .SaleSectionCarousel .carousel__slider {
  margin: unset;
}
.Title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  flex: 1;
  margin-left: 6px;
}
._2Jd3MGaOu0C9Ydswf8Q4Tn {
  padding-top: 5px;
}
._2Jd3MGaOu0C9Ydswf8Q4Tn h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  ._3YyCpH32HRhZtt4BOM5wM5 {
    margin-top: 58px;
  }
}
._1HP0yfVUrZ-TPBYhiQkye2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
._3n8swQFM3I_ARVM_5bPhAs {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
._3n8swQFM3I_ARVM_5bPhAs:hover {
  border: 1px solid #fff;
}
._1snIw0RvJduvDtqpmwtKJ9 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI ._1snIw0RvJduvDtqpmwtKJ9 {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
._2vEwZPNBe2qcTuxZf5cpiD {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mq3ROvmcn5_HdCKG6JXDa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mq3ROvmcn5_HdCKG6JXDa svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
._1TRFtE8IfXpDQ_loHnB_bU {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
._1TRFtE8IfXpDQ_loHnB_bU:hover {
  border: 1px solid #fff;
}
.TileContainer {
  font-family: "Motiva Sans", sans-serif;
  background: linear-gradient(
    135deg,
    rgba(64, 120, 152, 0.4) 10%,
    rgba(102, 192, 244, 0.4) 100%
  );
  border-radius: 3px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.TileContainer .TileTitleContainer {
  min-height: 72px;
  padding-left: 16px;
  padding-right: 12px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  background: -webkit-linear-gradient(
    30deg,
    rgba(117, 176, 34, 0.7) 5%,
    rgba(88, 138, 27, 0.6) 95%
  );
  background: linear-gradient(
    60deg,
    rgba(117, 176, 34, 0.7) 5%,
    rgba(88, 138, 27, 0.6) 95%
  );
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.TileContainer .TileTitleContainer .TileTitleInnerContainer {
  flex: 2;
  display: flex;
}
.TileContainer .TileTitleContainer .TileTitleInnerContainer .TileTitle {
  font-size: 21px;
  font-weight: normal;
  color: #fff;
  line-height: 26px;
  margin: 0;
  margin-block-end: .2em;
  flex: 1;
}
.TileContainer .TileTitleContainer .TileActionButton {
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  color: #d2efa9 !important;
  font-size: 15px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-weight: 300;
  width: fit-content;
  position: absolute;
  bottom: -17px;
  right: 15px;
  border: 3px solid #000;
  border-radius: 3px;
}
.TileContainer .TileTitleContainer .TileActionButton:hover {
  background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}
.TileSubtitle {
  font-size: 13px;
  color: #90aabb;
}
.TileActionContainer {
  background: linear-gradient(
    135deg,
    rgba(15, 28, 36, 0.4) 10%,
    rgba(0, 0, 0, 0.4) 100%
  );
  padding: 12px;
  display: flex;
}
.TileActionContainer h1 {
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: normal;
  text-transform: uppercase;
  color: #90aabb;
}
.TileActionContainer .TileActionInnerContainer {
  margin-left: 4px;
  margin-right: 4px;
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.TileActionContainer .TileActionInner {
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  flex-grow: 1;
  cursor: pointer;
}
.TileActionContainer .TileActionInner:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.TileActionContainer .TileActionInner .TileActionInnerTitle {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.TileActionContainer .TileActionInner .TileActionInnerText {
  font-size: 12px;
  font-weight: normal;
}
.PurchaseNoticeContainer {
  display: flex;
  flex-direction: row;
  min-height: 52px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-bottom: 12px;
}
.PurchaseNoticeContainer.RightHandImage {
  flex-direction: row-reverse;
}
.PurchaseNoticeLabel {
  font-family: "Motiva Sans", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  white-space: pre-wrap;
  text-wrap: wrap;
  color: #fff;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 6px 12px;
  background: linear-gradient(90.41deg, #2c3c49 16.25%, #576674 99.89%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.BasicUI .PurchaseNoticeLabel {
  font-size: 12px;
  white-space: initial;
  padding: 4px 8px;
}
.PurchaseNoticeImageContainer {
  min-height: 52px;
  min-width: 52px;
  background-color: #ffc82c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 0px 0px 2px;
}
.PurchaseNoticeImageContainer.VRSupported {
  width: 72px;
}
.PurchaseNoticeImage {
  height: 55%;
  color: #000;
}
.PurchaseNoticeImage.Tilt {
  transform: rotate(-15deg);
}
.PurchaseNoticeImage.VRSupported {
  height: 85%;
  margin-left: 12%;
  margin-top: 5%;
}
.PurchaseNoticeImage.VROnly {
  height: 1em;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media (max-width: 1024px) {
  .Header {
    flex-direction: column;
  }
}
.CreatorHomeWithItems {
  position: relative;
  border-radius: 5px;
  background: radial-gradient(
    62.67% 62.67% at 62.67% 100%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(116, 133, 140, 0.15) 100%
  );
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin-bottom: 20px;
}
.CreatorHomeWithItems.WithFollowBtn {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  grid-template-areas: "header header" "carousel info";
}
.CreatorHomeWithItems.WithFollowBtn .Carousel {
  grid-area: carousel;
}
.CreatorHomeWithItems.WithFollowBtn .Header {
  grid-area: header;
}
.CreatorHomeWithItems.WithFollowBtn .CarouselFollowSection {
  grid-area: info;
}
.CreatorHomeWithItems.WithFollowBtn .carousel__slider-tray {
  gap: 8px;
}
.CreatorHomeWithItems .Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.5;
  background-position: right;
  background-size: cover;
  border-radius: 5px;
  -webkit-mask-image: -webkit-gradient(
    radial-gradient(
      69% 91% at 82% 100%,
      white 0%,
      rgba(116, 133, 140, 0.1) 100%
    )
  );
  mask-image: radial-gradient(
    69% 91% at 82% 100%,
    white 0%,
    rgba(116, 133, 140, 0.1) 100%
  );
}
.CreatorHomeWithItems .AvatarBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -3;
  mask-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 70%
  );
  mask-position: top left;
  filter: blur(22px);
}
.CreatorHomeWithItems .ClanInfoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1024px) {
  .CreatorHomeWithItems .ClanInfoRow {
    width: 100%;
    justify-content: flex-start;
  }
}
.CreatorHomeWithItems .ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media (max-width: 1024px) {
  .CreatorHomeWithItems .ButtonContainer {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 8px;
  }
}
.CreatorHomeWithItems .ButtonContainer .CarouselFollowButton {
  background-color: #212c3d;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  padding: 1px 16px;
  color: #66c0f4 !important;
  border-radius: 2px;
}
.CreatorHomeWithItems .ButtonContainer .CarouselFollowButton:hover {
  background-color: #54a5d4;
  color: #fff !important;
  box-shadow: none;
}
.CreatorHomeWithItems .ButtonContainer .CarouselFollowButton > div {
  font-size: 15px !important;
}
.CreatorHomeWithItems .ClanName {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  flex: 1;
  margin-left: 6px;
}
.CreatorHomeWithItems .ClanAvatarImage {
  width: 35px;
  height: 35px;
}
.CreatorHomeWithItems .CarouselFollowSection {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 8px;
  padding: 0 20px 0 40px;
  background-color: #00000033;
  border-radius: 5px;
  backdrop-filter: blur(16px);
}
.CreatorHomeWithItems .SaleSectionCarousel .carousel__slider {
  margin: unset;
}
.CreatorHomeWithoutItems {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: radial-gradient(
    62.67% 62.67% at 62.67% 100%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(116, 133, 140, 0.15) 100%
  );
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.CreatorHomeWithoutItems .Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.5;
  background-position: right;
  background-size: cover;
  border-radius: 5px;
  -webkit-mask-image: -webkit-gradient(
    radial-gradient(
      69% 91% at 82% 100%,
      white 0%,
      rgba(116, 133, 140, 0.1) 100%
    )
  );
  mask-image: radial-gradient(
    69% 91% at 82% 100%,
    white 0%,
    rgba(116, 133, 140, 0.1) 100%
  );
}
.CreatorHomeWithoutItems .ClanAvatarImage {
  width: 79px;
  height: 79px;
  margin: 8px;
}
.ClanInfoColumn {
  display: flex;
  flex-direction: column;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}
.ClanFollowTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.ClanFollowButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.FollowButton {
  margin-top: 4px;
}
.Dummy {
  color: hotpink;
}
.RecordingIconContainer {
  position: relative;
  width: 16px;
  height: 16px;
}
.RecordingIconContainer > svg {
  height: 16px;
  width: 16px;
}
.RecordingIconContainer .Outer {
  position: absolute;
  top: 0;
  left: 0;
}
.RecordingIconContainer .Inner {
  position: absolute;
  top: 0;
  left: 0;
}
.TrailerPlayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TrailerPlayer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.UserInputNeeded {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserInputNeeded > svg {
  height: 100px;
  width: 100px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 150px;
  transition: transform .3s ease-out, opacity .2s ease-out;
  padding: 5px;
}
.UserInputNeeded > svg > path {
  transform: translateX(1px);
  color: #fff;
}
.UserInputNeeded.Animate > svg {
  transform: scale(1.8);
  opacity: 0;
}
.BackgroundClick {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.BackgroundClick.Enabled {
  pointer-events: auto;
  background-color: transparent;
}
.BackgroundClick .Icon {
  width: 100px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: BackgroundClickAnimation;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes BackgroundClickAnimation {
  from {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.6);
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}
.PlayerControls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.PlayerControls .UpperControls {
  transform: translateY(-110%);
}
.PlayerControls .LowerControls {
  transform: translateY(100%);
}
.PlayerControls .BehindControlsFade {
  opacity: 0;
}
.PlayerControls .UpperControls,
.PlayerControls .LowerControls {
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.PlayerControls.ShowControls .UpperControls,
.PlayerControls.ShowControls .LowerControls {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.PlayerControls.ShowControls .BehindControlsFade {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.UpperControls {
  position: absolute;
  top: 4px;
  right: 8px;
  left: 8px;
  display: flex;
  flex-direction: row;
}
.LowerControls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 10px 6px 10px;
}
.LowerControls .ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.LowerControls .ButtonRow .LeftGroup,
.LowerControls .ButtonRow .RightGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.BehindControlsFade {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent 80%);
  pointer-events: none;
}
.VolumeControls {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.DesktopUI .VolumeControls .SliderControl {
  min-width: 84px;
}
.VolumeSlider {
  padding: 0 0 0 8px;
  transform: translateX(0px);
}
.VolumeSlider .SliderTrack {
  height: 4px;
  --left-track-color: #b8bcbf;
  background: #ffffff22;
  box-shadow: inset 0 0 2px #00000033;
}
.VolumeSlider .SliderControl {
  --slider-handle-width: 12px;
  transform: all .3s ease-in-out;
}
.VolumeSlider .SliderControl:hover .SliderHandle {
  height: 14px;
  width: 14px;
  background: #eee;
}
.VolumeSlider .SliderControl:hover .SliderTrack {
  --left-track-color: #eeeeee;
}
.VolumeSlider .SliderHandle {
  height: 12px;
  width: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #eee;
}
.AutoplayVideos {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(
      180deg,
      rgba(14, 20, 27, 0.55) 0%,
      rgba(14, 20, 27, 0.55) 50%,
      rgba(14, 20, 27, 0.5) 80%
    ), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(8, 63, 35, 0.5) 100%),
    linear-gradient(
      98.95deg,
      rgba(117, 9, 9, 0.5) 8.01%,
      rgba(10, 20, 100, 0.5) 100%
    );
  backdrop-filter: blur(10px);
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
}
.AutoplayVideos .Label {
  font-size: 14px;
  font-family: "Motiva Sans", monospace;
  text-align: center;
  color: #eee;
  white-space: nowrap;
}
.AutoplayVideos .Checkbox {
  transform: translateY(4px);
}
.MenuLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 150ms ease-in, transform 150ms ease-out;
  pointer-events: none;
}
.MenuLayer:empty {
  opacity: 0;
  transform: translateY(10px);
}
.MenuLayer > * {
  pointer-events: auto;
}
.PlaybackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-property: color;
  transition-duration: .08s;
  transition-timing-function: ease-out;
  color: #b8bcbf;
  overflow: visible;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
.PlaybackButton > svg {
  width: 100%;
  height: 100%;
}
.PlaybackButton:hover {
  color: #eee;
}
.PlaybackButton:hover:active {
  color: #8b929a;
  transform: scale(0.96);
}
.PlaybackTime {
  font-size: 14px;
  font-family: "Motiva Sans", monospace;
  text-align: center;
  color: #b8bcbf;
  white-space: nowrap;
  user-select: none;
  align-self: center;
  display: inline-flex;
  gap: 4px;
}
.PlaybackTime .TimeDash {
  color: #b8bcbf;
}
.SettingsButton {
  transition: transform .3s ease-in-out;
}
.SettingsButton.Rotated {
  transform: rotate(90deg);
}
.SettingsMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: linear-gradient(
      180deg,
      rgba(14, 20, 27, 0.55) 0%,
      rgba(14, 20, 27, 0.55) 50%,
      rgba(14, 20, 27, 0.5) 80%
    ), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(8, 63, 35, 0.5) 100%),
    linear-gradient(
      98.95deg,
      rgba(117, 9, 9, 0.5) 8.01%,
      rgba(10, 20, 100, 0.5) 100%
    );
  backdrop-filter: blur(10px);
  border-radius: 4px;
  min-width: 150px;
  width: fit-content;
  padding: 6px 24px 6px 12px;
  align-self: center;
  color: #eee;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  user-select: none;
}
.SettingsMenu .MenuItem {
  cursor: pointer;
  width: calc(100% + 12px);
  padding: 4px 6px;
  margin-left: -6px;
  border-radius: 2px;
}
.SettingsMenu .MenuItem.Checked {
  display: flex;
  justify-content: space-between;
}
.SettingsMenu .MenuItem.Checked svg {
  max-width: 18px;
}
.SettingsMenu .MenuItem:hover {
  background-color: #1a9fff;
}
.Timeline {
  position: relative;
  padding-top: 14px;
  padding-bottom: 8px;
  z-index: 10;
  touch-action: none;
}
.Timeline * {
  touch-action: none;
}
.Timeline.Hovered {
  cursor: pointer;
}
.Timeline .TimelineBar {
  position: relative;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.Timeline .Bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.Timeline .Buffered {
  background-color: rgba(255, 255, 255, 0.4);
}
.Timeline .Played {
  background-color: #1a9fff;
}
.Timeline .HoverTick {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.Timeline .Hover {
  position: absolute;
  bottom: calc(100% + 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  user-select: none;
  pointer-events: none;
}
.Timeline .Hover .HoverImage {
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 2px;
}
.Timeline .Hover .HoverTime {
  background-color: #fff;
  border-radius: 2px;
  padding: 6px 12px;
  align-self: center;
  color: #1b2838;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.Timeline .Hover .HoverTime::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100%;
  left: 50%;
  background-color: #fff;
  border-radius: 0px 0px 2px 0px;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.FatalErrorMessage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.FatalErrorMessage span {
  text-align: center;
  width: 60%;
}
.PlayerControls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.PlayerControls .GlassBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
.PlayerControls.ShowControls {
  opacity: 1;
}
.PlayerControls * {
  pointer-events: none;
}
.PlayerControls.ShowControls *:not(.GlassBackground):not(.SeekThumbnail) {
  pointer-events: auto;
}
.SeekThumbnail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CenterControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CenterControls.Hide {
  display: none;
}
.CenteredPlayToggle {
  color: #fff;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.LowerControls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 10px 6px 10px;
}
.LowerControls .ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.LowerControls .ButtonRow .LeftGroup,
.LowerControls .ButtonRow .RightGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.PlayerControls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.PlayerControls.ShowControls {
  opacity: 1;
}
.PlayerControls * {
  pointer-events: none;
}
.PlayerControls.ShowControls {
  pointer-events: auto;
}
.LowerControls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 18px 10px 18px;
}
.LowerControls .ButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.LowerControls .ButtonRow .LeftGroup,
.LowerControls .ButtonRow .RightGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.BehindControlsFade {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent 80%);
  pointer-events: none;
}
.ReleaseDateInfoCtn {
  display: flex;
  flex-direction: row;
  max-width: 320px;
}
.ReleaseDateInfoCtn.GameEditCtn {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
.ReleaseDateInfoCtn .ReleaseDateContent {
  flex: 1;
}
.ReleaseDateInfoCtn .EditButton {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ReleaseDateInfoCtn .EditButton .Spacer {
  flex: 1;
  margin-right: 16px;
}
.ReleaseDateInfoCtn .EditButton .Spacer.Top {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
.ReleaseDateInfoCtn .EditButton .Spacer.Bottom {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
.ReleaseDateInfoCtn .EditButton .EditButtonIcon {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
.LabelField {
  margin-bottom: 15px;
}
.LabelField .Label {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
.LabelField .BigField {
  line-height: 21px;
  font-size: 20px;
}
.LabelField .Set {
  color: #fff;
}
.DescText {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 23px;
  color: #dedede;
}
.StatusText {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #dedede;
}
button.DialogButton.StartWizardButton {
  width: 140px;
}
.ControllerSupportLevelString {
  color: #8f98a0;
  margin-bottom: 6px;
}
.InfoRow {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.LocSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(103, 193, 245, 0.1);
  color: #66c0f4;
}
.LocSection.HighlightText {
  color: #82f466;
}
.LocSection.GamepadRequired {
  color: #ffc82c;
}
.LocSection.Personalized {
  color: #82f466;
}
.LocSection.HighlightRow {
  background: #9d8b5e;
  color: #fff;
}
.LocSection:hover,
:hover > .LocSection {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #67c1f5;
  background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
.LocString {
  font-weight: 400;
  font-size: 12px;
  padding: 6px 8px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.LocString.Personalized {
  color: #69a712;
}
.ImgSection {
  padding: 0px 6px;
  display: flex;
  color: #fff;
  background: #101822;
}
.ImgSection.HighlightRow {
  background: #7c6e4a;
}
.ImgSection.GamepadRequired {
  background: #ffc82c;
}
.ImgSection > svg {
  width: 26px;
  height: 16px;
  align-self: center;
}
.ImgSection > svg.SmallerSVG {
  height: 20px;
}
.ImgSection > svg.BiggerSVG {
  width: 22px;
  padding-left: 2px;
  padding-right: 2px;
  transition: none;
}
.PreviewContainer {
  padding: 5%;
  background: linear-gradient(90deg, #15202d 0%, #0e141c 100%);
}
.StoreSidebarContainer {
  margin-top: 12px;
}
.PurchaseNoticeContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 32px;
}
.PurchaseNoticeImage {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 12px;
  margin-top: 2px;
}
.NoticeContainer {
  margin-top: 14px;
  margin-bottom: 2px;
}
.ControllerRequiredImage {
  padding: 0px 6px;
  display: flex;
  width: 26px;
  height: 16px;
  align-self: center;
}
.Tilt {
  transform: rotate(-15deg);
}
.ToolTipControl {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
}
.ToolTipContainer {
  color: #fff;
  margin-right: 8px;
}
.BasicUI .DialogContent_InnerWidth {
  overflow: visible;
}
.BasicUI .DialogContent_InnerWidth > div {
  overflow: visible;
}
.GrantAwardModal {
  max-width: 88vw;
  font-size: 14px;
  font-family: "Motiva Sans", Sans-serif;
  color: #e4e4e4;
  background-color: #1d3f5f;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal {
    padding: 16px 12px !important;
  }
}
.BasicUI .GrantAwardModal {
  padding: 24px !important;
}
.GrantAwardModal .Header .Title {
  font-size: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.BasicUI .GrantAwardModal .Header .Title {
  font: var(--gpText-HeadingLarge);
  letter-spacing: unset;
  text-transform: unset;
}
.GrantAwardModal .Header .Description {
  font-size: 14px;
  color: #66c0f4;
}
.GrantAwardModal .ButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 16px 0px;
  }
}
.BasicUI .GrantAwardModal .ButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0px -24px;
  padding: 24px;
  scroll-padding: 0px 24px;
  overflow: hidden;
}
.GrantAwardModal .ButtonContainer .Button {
  padding: 8px;
  border-radius: 2px;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: background-color .2s ease, border-radius .2s ease;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer .Button {
    border: 2px solid transparent;
    padding: 4px 12px;
    flex-direction: row;
    column-gap: 20px;
    background-color: rgba(255, 255, 255, 0.08);
  }
}
.BasicUI .GrantAwardModal .ButtonContainer .Button {
  padding: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.08);
  padding-bottom: 16px;
}
.GrantAwardModal .ButtonContainer .Button:hover,
.GrantAwardModal .ButtonContainer .Button.Selected,
.GrantAwardModal .ButtonContainer .Button.gpfocus {
  background-color: rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer .Button:hover,
  .GrantAwardModal .ButtonContainer .Button.Selected,
  .GrantAwardModal .ButtonContainer .Button.gpfocus {
    background-color: rgba(255, 255, 255, 0.16);
  }
}
.BasicUI .GrantAwardModal .ButtonContainer .Button:hover,
.BasicUI .GrantAwardModal .ButtonContainer .Button.Selected,
.BasicUI .GrantAwardModal .ButtonContainer .Button.gpfocus {
  background-color: rgba(255, 255, 255, 0.16);
}
.GrantAwardModal .ButtonContainer .Button.gpfocus {
  border-radius: 0px;
}
.GrantAwardModal .ButtonContainer .Button.Selected {
  border-color: #66c0f4;
}
.GrantAwardModal .ButtonContainer .Button.Disabled:hover,
.GrantAwardModal .ButtonContainer .Button.Disabled {
  background-color: unset;
  cursor: unset;
  border-color: rgba(255, 255, 255, 0.08);
}
.GrantAwardModal .ButtonContainer .Button .LabelCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer .Button .LabelCtn {
    align-items: flex-start;
    row-gap: 4px;
  }
}
.BasicUI .GrantAwardModal .ButtonContainer .Button .LabelCtn {
  align-items: center;
}
.BasicUI .GrantAwardModal .ButtonContainer .Button .IconCtn {
  margin: 16px;
}
.GrantAwardModal .ButtonContainer .Button .IconCtn img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer .Button .IconCtn img {
    width: 48px;
    height: 48px;
  }
}
.BasicUI .GrantAwardModal .ButtonContainer .Button .IconCtn img {
  width: 80px;
  height: 80px;
}
.GrantAwardModal .ButtonContainer .Button .Label {
  color: #66c0f4;
  letter-spacing: .05em;
}
.BasicUI .GrantAwardModal .ButtonContainer .Button .Label {
  letter-spacing: unset;
}
.GrantAwardModal .ButtonContainer .Button .Points {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .1em;
}
.BasicUI .GrantAwardModal .ButtonContainer .Button .Points {
  margin-top: auto;
  padding-top: 8px;
}
.GrantAwardModal .ButtonContainer .Button.Disabled .IconCtn img,
.GrantAwardModal .ButtonContainer .Button.Disabled .Label,
.GrantAwardModal .ButtonContainer .Button.Disabled .Points {
  opacity: 0.25;
}
.GrantAwardModal .ButtonContainer .Button .IconCheckMark {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  color: #5b7e0f;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .ButtonContainer .Button .IconCheckMark {
    left: unset;
    right: 8px;
  }
}
.BasicUI .GrantAwardModal .ButtonContainer::after {
  content: " ";
  min-width: 24px;
}
.GrantAwardModal .Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .Footer {
    display: block;
  }
}
.BasicUI .GrantAwardModal .Footer {
  display: flex;
}
.GrantAwardModal .Footer .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.GrantAwardModal .Footer .Left .BalanceIcon {
  width: 32px;
  height: 32px;
  padding-right: 8px;
}
.GrantAwardModal .Footer .Left .BalanceDetails {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}
.GrantAwardModal .Footer .Left .BalanceDetails .BalanceLabel {
  color: #66c0f4;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .05em;
}
.GrantAwardModal .Footer .Left .BalanceDetails .BalanceAmount {
  font-size: 16px;
  letter-spacing: .05em;
}
.GrantAwardModal .Footer .Right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .Footer .Right {
    padding-top: 10px;
    align-items: center;
  }
}
.BasicUI .GrantAwardModal .Footer .Right {
  flex-direction: row-reverse;
  column-gap: 8px;
  padding-top: unset;
}
.GrantAwardModal .Footer .Right .Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .Footer .Right .Actions {
    width: -webkit-fill-available;
    gap: 4px;
    flex-direction: column-reverse;
  }
}
.BasicUI .GrantAwardModal .Footer .Right .Actions {
  flex-direction: row;
  gap: 8px;
}
.GrantAwardModal .Footer .Right .Actions .Action {
  padding-left: 12px;
  min-width: 150px;
}
@media screen and (max-width: 910px) {
  .GrantAwardModal .Footer .Right .Actions .Action {
    min-width: 100px;
    flex: auto;
    padding-left: unset;
    width: -webkit-fill-available;
  }
}
.GrantAwardModal .Footer .FooterLink {
  padding-top: 8px;
  font-size: 12px;
  color: #189ad3;
}
.BasicUI .GrantAwardModal .Footer .FooterLink {
  padding-top: unset;
  white-space: nowrap;
}
.Divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 12px 0;
}
.BasicUI .Divider {
  display: none;
}
@media screen and (max-width: 910px) {
  .Divider {
    display: none;
  }
}
.ConfirmContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  padding: 10px;
  position: relative;
  transition: opacity .2s ease-out;
  opacity: 0;
}
@media screen and (max-width: 910px) {
  .ConfirmContainer {
    flex-direction: column;
    margin-bottom: 12px;
    padding: 0px 0px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.BasicUI .ConfirmContainer {
  flex-direction: row;
}
.ConfirmContainer .ConfirmAwardImage {
  height: 200px;
}
@media screen and (max-width: 910px) {
  .ConfirmContainer .ConfirmAwardImage {
    height: 200px;
  }
}
.ConfirmContainer .ConfirmTextCtn {
  display: flex;
  flex-direction: column;
}
.ConfirmContainer .ConfirmText {
  padding-top: 12px;
  max-width: 360px;
  text-align: left;
}
.ConfirmContainer .ConfirmText .AwardName {
  color: #66c0f4;
  font-weight: 500;
}
.ConfirmContainer .ConfirmText .TimePeriod {
  text-decoration: underline;
}
.ConfirmContainer.Visible {
  opacity: 1;
}
.LoadingContainer,
.SuccessContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease-in;
  opacity: 0;
  pointer-events: none;
}
.LoadingContainer.Visible,
.SuccessContainer.Visible {
  opacity: 1;
  pointer-events: all;
}
.LoadingContainer .SuccessText,
.SuccessContainer .SuccessText {
  font-size: 16px;
  padding-top: 8px;
}
.InitialLoading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 300px;
}
.ErrorContainer {
  padding: 20px;
}
.ErrorContainer .ErrorText {
  font-size: 14px;
  font-weight: bold;
  color: #e4e4e4;
}
.PointsAmount {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .1em;
}
.PointsAmount .PointsAmountIcon {
  width: 16px;
  height: 16px;
  padding-right: 6px;
  margin-top: -2px;
  vertical-align: middle;
}
.NotEnoughPoints {
  font-size: 12px;
  opacity: 0.6;
}
.UnstyledButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.UnstyledButton a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  margin: 0px !important;
  padding: 0px;
}
.TopPlayedBannerCtn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  min-height: 102px;
  font-family: "Motiva Sans", sans-serif;
  display: flex;
  justify-content: end;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  transition: border .3s ease;
  border: 2px solid #2b4155;
}
.TopPlayedBannerCtn:hover {
  border: 2px solid #415a72;
}
.DeckLogo {
  display: inline-block;
  margin: 0px 6px 2px 2px;
  width: 12px;
  height: 20px;
  background-image: url(https://cdn.akamai.steamstatic.com/store/steamdeck/decklogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
}
.BannerTitle {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .03em;
  padding-top: 2px;
  margin-bottom: 2px;
}
.BannerRightContent {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-top: 8px;
}
.BannerHeader {
  font-size: 21px;
  padding: 4px 4px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 800;
}
.BannerGameText {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 0px 10px;
  font-weight: 500;
  line-height: 18px;
  text-shadow: 1px 1px 2px #00000033;
}
.BannerGameText span {
  font-weight: 800;
}
@media screen and (max-width: 500px) {
  .TopPlayedBannerCtn {
    flex-direction: column;
  }
  .BannerRightContent {
    margin-top: 145px;
    max-width: 95%;
    align-self: center;
  }
  .BannerHeader {
    font-size: 24px;
  }
  .BannerGameText {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
  }
}
.Adventurer {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_adventurer_banner.png?v=1)
    center / contain no-repeat,
    linear-gradient(
      90deg,
      #3e3274 0%,
      #8dc095 20.9%,
      #8dc193 28.9%,
      #3e3274 45.9%
    );
  background-position: top;
}
.Adventurer .BannerHeader {
  color: #3e3274;
  background-color: #fff4c7;
}
.Adventurer .BannerGameText {
  color: #fff4c7;
}
@media screen and (max-width: 500px) {
  .Adventurer {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_adventurer_banner_mobile.png?v=1)
      center / contain no-repeat, #3e3274;
    background-position: top;
  }
}
.Anime {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_anime_banner.png?v=1)
    center / contain no-repeat, #f8aba5;
  background-position: top;
}
.Anime .BannerHeader {
  color: #f8dcac;
  background-color: #724cae;
}
.Anime .BannerGameText {
  color: #361665;
}
@media screen and (max-width: 500px) {
  .Anime {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_anime_banner_mobile.png?v=1)
      center / contain no-repeat, #f8aba5;
    background-position: top;
  }
}
.Apocalypse {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_apocalypse_banner.png?v=1)
    center / contain no-repeat,
    linear-gradient(90deg, #ff8031 54.5%, #de3748 78.5%);
  background-position: top;
}
.Apocalypse .BannerHeader {
  color: #ffe6a3;
  background-color: #17103c;
}
.Apocalypse .BannerGameText {
  color: #17103c;
}
@media screen and (max-width: 500px) {
  .Apocalypse {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_apocalypse_banner_mobile.png?v=1)
      center / contain no-repeat, #ff8031;
    background-position: top;
  }
}
.Astronaut {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_astronaut_banner.png?v=1)
    center / contain no-repeat, #fff;
  background-position: top;
}
.Astronaut .BannerHeader {
  color: #fff;
  background-color: #14183e;
}
.Astronaut .BannerGameText {
  color: #14183e;
}
@media screen and (max-width: 500px) {
  .Astronaut {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_astronaut_banner_mobile.png?v=1)
      center / contain no-repeat, #fff;
    background-position: top;
  }
}
.Beach {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_beach_banner.png?v=1)
    center / contain no-repeat,
    linear-gradient(90deg, #f1d1d4 46.5%, #eaeceb 79%);
  background-position: top;
}
.Beach .BannerHeader {
  color: #e9e9e9;
  background-color: #455e94;
}
.Beach .BannerGameText {
  color: #312b51;
}
@media screen and (max-width: 500px) {
  .Beach {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_beach_banner_mobile.png?v=1)
      center / contain no-repeat, #f1d1d4;
    background-position: top;
  }
}
.Bed {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_bed_banner.png?v=1)
    center / contain no-repeat, #fef1e9;
  background-position: top;
}
.Bed .BannerHeader {
  color: #fffbf2;
  background-color: #f26a78;
}
.Bed .BannerGameText {
  color: #132e49;
}
@media screen and (max-width: 500px) {
  .Bed {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_bed_banner_mobile.png?v=1)
      center / contain no-repeat, #fef1e9;
    background-position: top;
  }
}
.Bus {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_bus_banner.png?v=1)
    center / contain no-repeat,
    linear-gradient(90deg, #115352 32.5%, #017f7e 57.5%);
  background-position: top;
}
.Bus .BannerHeader {
  color: #252d2f;
  background-color: #ff8989;
}
.Bus .BannerGameText {
  color: #fededf;
}
@media screen and (max-width: 500px) {
  .Bus {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_bus_banner_mobile.png?v=1)
      center / contain no-repeat, #017f7e;
    background-position: top;
  }
}
.BusStop {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_busstop_banner.png?v=2)
    center / contain no-repeat,
    linear-gradient(90deg, #abe2ba 75.5%, #fcf2b7 100%);
  background-position: top;
}
.BusStop .BannerHeader {
  color: #fcf2b7;
  background-color: #233f66;
}
.BusStop .BannerGameText {
  color: #233f66;
}
@media screen and (max-width: 500px) {
  .BusStop {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_busstop_banner_mobile.png?v=1)
      center / contain no-repeat, #abe2ba;
    background-position: top;
  }
}
.Campfire {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_campfire_banner.png?v=1)
    center / contain no-repeat, #171128;
  background-position: top;
}
.Campfire .BannerHeader {
  color: #18183e;
  background-color: #fff0ad;
}
.Campfire .BannerGameText {
  color: #fff0ad;
}
@media screen and (max-width: 500px) {
  .Campfire {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_campfire_banner_mobile.png?v=1)
      center / contain no-repeat, #171128;
    background-position: top;
  }
}
.Car {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_car_banner.png?v=1)
    center / contain no-repeat, #01346d;
  background-position: top;
}
.Car .BannerHeader {
  color: #002044;
  background-color: #f35652;
}
.Car .BannerGameText {
  color: #ffe8d3;
}
@media screen and (max-width: 500px) {
  .Car {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_car_banner_mobile.png?v=1)
      center / contain no-repeat, #01346d;
    background-position: top;
  }
}
.City {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_city_banner.png?v=1)
    center / contain no-repeat, #2f294d;
  background-position: top;
}
.City .BannerHeader {
  color: #2f294d;
  background-color: #fff6cf;
}
.City .BannerGameText {
  color: #fff6cf;
}
@media screen and (max-width: 500px) {
  .City {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_city_banner_mobile.png?v=1)
      center / contain no-repeat, #2f294d;
    background-position: top;
  }
}
.Family {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_family_banner.png?v=1)
    center / contain no-repeat, #e5e59b;
  background-position: top;
}
.Family .BannerHeader {
  color: #f2f2d0;
  background-color: #cb225d;
}
.Family .BannerGameText {
  color: #3e2f58;
}
@media screen and (max-width: 500px) {
  .Family {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_family_banner_mobile.png?v=1)
      center / contain no-repeat, #e5e59b;
    background-position: top;
  }
}
.Farmer {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_farmer_banner.png?v=1)
    center / contain no-repeat, #c5b730;
  background-position: top;
}
.Farmer .BannerHeader {
  color: #fae9b1;
  background-color: #453341;
}
.Farmer .BannerGameText {
  color: #453341;
}
@media screen and (max-width: 500px) {
  .Farmer {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_farmer_banner_mobile.png?v=1)
      center / contain no-repeat, #c5b730;
    background-position: top;
  }
}
.Knight {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_knight_banner.png?v=1)
    center / contain no-repeat, #161a3d;
  background-position: top;
}
.Knight .BannerHeader {
  color: #161a3d;
  background-color: #ff737e;
}
.Knight .BannerGameText {
  color: #f8ffdb;
}
@media screen and (max-width: 500px) {
  .Knight {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_knight_banner_mobile.png?v=1)
      center / contain no-repeat, #161a3d;
    background-position: top;
  }
}
.Miner {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_miner_banner.png?v=1)
    center / contain no-repeat, #3d4a90;
  background-position: top;
}
.Miner .BannerHeader {
  color: #1b081e;
  background-color: #4dc5c0;
}
.Miner .BannerGameText {
  color: #e1f2ac;
}
@media screen and (max-width: 500px) {
  .Miner {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_miner_banner_mobile.png?v=1)
      center / contain no-repeat, #3d4a90;
    background-position: top;
  }
}
.Porch {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_porch_banner.png?v=1)
    center / contain no-repeat, #fea190;
  background-position: top;
}
.Porch .BannerHeader {
  color: #ffeeba;
  background-color: #402351;
}
.Porch .BannerGameText {
  color: #402351;
}
@media screen and (max-width: 500px) {
  .Porch {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_porch_banner_mobile.png?v=1)
      center / contain no-repeat, #fea190;
    background-position: top;
  }
}
.Robot {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_robot_banner.png?v=1)
    center / contain no-repeat, #2b2227;
  background-position: top;
}
.Robot .BannerHeader {
  color: #4c3136;
  background-color: #fce9bf;
}
.Robot .BannerGameText {
  color: #f9f5c7;
}
@media screen and (max-width: 500px) {
  .Robot {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_robot_banner_mobile.png?v=1)
      center / contain no-repeat, #2b2227;
    background-position: top;
  }
}
.Superhero {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_superhero_banner.png?v=1)
    center / contain no-repeat, #3279ad;
  background-position: top;
}
.Superhero .BannerHeader {
  color: #f4e3c7;
  background-color: #1b3252;
}
.Superhero .BannerGameText {
  color: #1b3252;
}
@media screen and (max-width: 500px) {
  .Superhero {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_superhero_banner_mobile.png?v=1)
      center / contain no-repeat, #3279ad;
    background-position: top;
  }
}
.Woodsman {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_woodsman_banner.png?v=1)
    center / contain no-repeat, #1d3132;
  background-position: top;
}
.Woodsman .BannerHeader {
  color: #1d3132;
  background-color: #fffae3;
}
.Woodsman .BannerGameText {
  color: #fffae3;
}
@media screen and (max-width: 500px) {
  .Woodsman {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_woodsman_banner_mobile.png?v=1)
      center / contain no-repeat, #1d3132;
    background-position: top;
  }
}
.Zombies {
  background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_zombies_banner.png?v=1)
    center / contain no-repeat, #220445;
  background-position: top;
}
.Zombies .BannerHeader {
  color: #220344;
  background-color: #eff4f7;
}
.Zombies .BannerGameText {
  color: #eff4f7;
}
@media screen and (max-width: 500px) {
  .Zombies {
    background: url(https://cdn.cloudflare.steamstatic.com/store/steamdeck/topplayedbanners/deck_zombies_banner_mobile.png?v=1)
      center / contain no-repeat, #220445;
    background-position: top;
  }
}
.GWWacIf04lQysYMFJma0A {
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(108, 119, 134, 0.4) 40%,
    rgba(83, 104, 104, 0.4) 100%
  );
  padding: 16px;
  border-radius: 4px;
}
.ATX_xEE69rX8wVxQvONEx {
  position: relative;
}
._11RwPICMOmmvNXkOq9bjPc {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 11px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
._11RwPICMOmmvNXkOq9bjPc .eh0pMnSr-nk203Ealq_Rq {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
._11RwPICMOmmvNXkOq9bjPc ._3VKQ3h7Z4wO_U-Z_vXUZkk {
  font-size: 16px;
  display: inline;
  margin-left: 8px;
}
._1q98mjxkCUwQuFALsiNtD7 {
  position: relative;
}
.bEkRtFmRUW_smWksM-k9g {
  display: flex;
  color: #80caff;
  line-height: 37px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 12px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
._2LTFl4ZFuL1BeNbqYPExWv {
  display: inline;
  margin-right: 8px;
}
._2LTFl4ZFuL1BeNbqYPExWv .Z7ScP-i1XHPQn4eeFdJ3g {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
._2LTFl4ZFuL1BeNbqYPExWv .chkuqox_QD6U5ID_AHTLk {
  display: inline;
  margin-left: 8px;
}
@media (min-width: 1024px) {
  .Carousel {
    width: 100%;
  }
}
.Capsule {
  width: 219px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}
.Capsule.Small {
  width: 140px;
  height: 104px;
}
.Capsule.TwoWide {
  width: 450px;
  height: 140px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}
.Capsule.TwoWide a {
  z-index: 1;
}
.Capsule.TwoWide .CapsuleBottomBar {
  z-index: 2;
  padding-left: 5px;
}
.Capsule.Placeholder {
  background-color: #80808040;
}
.SeeAllLink {
  white-space: nowrap;
}
.widestore .Capsule {
  width: 285px;
  height: 171px;
  margin: 0;
}
.widestore .Capsule.TwoWide {
  width: 575px;
}
@media (min-width: 1200px) {
  .widestore .Carousel {
    width: 100%;
  }
}
.ParentWidgetContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: var(--gpBackground-LightSoft);
  border-radius: 4px;
  padding: 16px;
}
html.responsive.touch .ParentWidgetContainer {
  flex-direction: column;
  border-radius: 0px;
}
@media screen and (max-width: 500px) {
  html:not(.force_desktop) .ParentWidgetContainer {
    flex-direction: column;
    border-radius: 0px;
  }
}
.ParentWidgetContainer .ParentCapsuleImageContainer {
  display: flex;
}
.ParentWidgetContainer .ParentCapsuleImageContainer .ParentCapsuleImage {
  width: 219px;
}
html.responsive.touch
  .ParentWidgetContainer
  .ParentCapsuleImageContainer
  .ParentCapsuleImage {
  width: 100%;
}
@media screen and (max-width: 500px) {
  html:not(.force_desktop)
    .ParentWidgetContainer
    .ParentCapsuleImageContainer
    .ParentCapsuleImage {
    width: 100%;
  }
}
.ParentWidgetContainer .GameName {
  font-size: 21px;
  color: #fff;
}
.ParentWidgetContainer .AppDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ParentWidgetContainer .PriceContainer {
  display: flex;
  justify-content: flex-end;
}
.ParentWidgetContainer .AddToWishlistButton {
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  border: #000 2px solid;
  border-radius: 2px;
  padding-left: 10px;
}
html.responsive.touch .ParentWidgetContainer .AddToWishlistButton {
  display: none;
}
@media screen and (max-width: 500px) {
  html:not(.force_desktop) .ParentWidgetContainer .AddToWishlistButton {
    display: none;
  }
}
.GamepadCarousel {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  line-height: 0;
  box-sizing: border-box;
  max-height: unset;
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 8px 24px 8px 24px;
}
.GamepadCarousel.Fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 0px;
  width: unset;
  margin-left: 0;
  padding: 0;
  z-index: 1000;
}
.CarouselItem {
  width: 86%;
  min-width: 86%;
  scroll-snap-align: center;
  aspect-ratio: 16 / 9;
}
.Fullscreen .CarouselItem {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
.SingleFileTrailer,
.Screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.SingleFileTrailer video,
.SingleFileTrailer img,
.Screenshot video,
.Screenshot img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.DashTrailer {
  position: relative;
}
