.ImagesCtn {
  background: linear-gradient(180deg, #642452 30%, #06123d 90%, transparent);
}
.SingleGame {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #03090e 0%,
    #1b5276 52.6%
  );
}
.SingleGame .ImageTint {
  background: linear-gradient(135deg, #642452 0%, #06123d 100%);
}
.Section {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #0578a2 0%,
    #449963 52.6%,
    #104a4a
  );
}
.StreakSizeFullBar {
  background-color: #fff;
}
.LongestStreakBgImage {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #0578a2 0%,
      #449963 52.6%,
      #104a4a
    ), url(/public/images/yearinreview/streak_bg_large.webp);
}
.Tab.ActiveTab {
  background-color: rgba(103, 193, 245, 0.34);
}
.UserName {
  color: #1a9ffe;
}
.ConclusionName {
  color: #1a9ffe;
}
.GridItem.Game0 {
  background: linear-gradient(
    119.08deg,
    #cd3bda 1.25%,
    rgba(219, 43, 31, 0.83) 97.55%
  );
}
.GridItem.Game1 {
  background: linear-gradient(
    119.08deg,
    #da913b 1.25%,
    rgba(69, 219, 31, 0.83) 97.55%
  );
}
.GridItem.Game2 {
  background: linear-gradient(119.08deg, #2536bf 1.25%, #bd71db 97.55%);
}
.GridItem.AchievementBlock {
  background: linear-gradient(147.86deg, #2389d1 25.78%, #68afe1 79.81%);
}
.GridItem.StreakBlock {
  background: linear-gradient(147.86deg, #2389d1 25.78%, #68afe1 79.81%);
}
.GridItem.HardwareBlock {
  background: linear-gradient(147.86deg, #2389d1 25.78%, #68afe1 79.81%);
}
.GridItem.DeviceBlock {
  background: linear-gradient(147.86deg, #2389d1 25.78%, #68afe1 79.81%);
}
.SummaryCtn {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
.TimeRelatedCtn {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #690029 0%,
    #0b1b35,
    #060f0b
  );
}
.TopHonorsSection {
  background: radial-gradient(
    101.49% 84.96% at 18% -1.96%,
    #8876cf 0%,
    #423a5a 100%
  );
}
.MissingUserCtn .GenericBackground,
.LogInCtn .GenericBackground {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
.FriendCtn {
  background: linear-gradient(14deg, #162964e0, #105662b8);
}
.TopGameBlockContainer.OddGradient {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #0d5e1b 0%,
    #1f4e5c 52.6%,
    #0e1014
  );
}
.TopGameBlockContainer.EvenGradient {
  background: radial-gradient(
    94.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%,
    #0e1014
  );
}
.TopMostGame .TopGameBlockContainer {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%
  );
}
.FirstPlayCtn .GamePlayDetails {
  background: linear-gradient(45deg, #0b70598a 15%, #005580d9 55%, #941a73bd);
}
.PlatformChartsCtn {
  background: radial-gradient(#17333a, #0a0d0d);
}
.IconAchievement path {
  fill: #01a4f6;
}
.IconGamesPlayed path {
  fill: #10ca70;
}
.IconStreak path {
  fill: #bd97ff;
}
.PlayBehaviorContainer .ProgressBarFilled.ProgressBarFilledGradient {
  background: linear-gradient(to right, #10cb6e 0%, #00a2ff 50%, #8a48f5 90%);
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(1) {
  background-color: #3cdf6a;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(2) {
  background-color: #4df;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(3) {
  background-color: #e496ff;
}
.PlayBehaviorContainer .NewActive .DataBoxArrow.Background,
.PlayBehaviorContainer .NewActive .UserData.DataBox.Background {
  background-color: #3cdf6a;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox.Border {
  border: 4px dotted #3cdf6a;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .NewActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #3cdf6a;
}
.PlayBehaviorContainer .UsedActive .DataBoxArrow.Background,
.PlayBehaviorContainer .UsedActive .UserData.DataBox.Background {
  background-color: #4df;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox.Border {
  border: 4px dotted #4df;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .UsedActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #4df;
}
.PlayBehaviorContainer .OldActive .DataBoxArrow.Background,
.PlayBehaviorContainer .OldActive .UserData.DataBox.Background {
  background-color: #e496ff;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox.Border {
  border: 4px dotted #e496ff;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .OldActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #e496ff;
}
.AllGamesBGImage {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #02bbff34 0%,
      #ff03b33a 52.6%,
      #6aff0023
    ), url(/public/images/yearinreview/steam_logo_offset.png);
}
.SeeRewindButton {
  background: #2d73ff;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.SeeRewindButton:hover {
  filter: brightness(110%);
  color: #fff;
}
.MMFrame.MMOverride {
  background: radial-gradient(
    136.99% 78.49% at 53.43% 10.55%,
    #642452 0%,
    #06123d 100%
  );
}
.MMFrame.MMOverride .Header {
  color: #fff;
}
.MMFrame.MMOverride .YearSubtitle {
  color: #4ad4ff;
}
.MMFrame.MMOverride .ReplayLogo {
  color: #fff;
}
.MMFrame.MMOverride .ReplayLogoAccent {
  fill: #4ad4ff;
}
.MMFrame.MMOverride .Hashtag {
  color: #4ad4ff;
}
.MMFrame.MMOverride .Avatar {
  border-color: #4ad4ff;
}
.MMFrame.MMOverride .DataBlock {
  color: #fff;
}
.MMFrame.MMOverride .DataBlock .PersonaName,
.MMFrame.MMOverride .DataBlock .ReplayHighlight {
  color: #4ad4ff;
}
.MMFrame.MMOverride .ViewPageButton {
  background: linear-gradient(270.05deg, #1babd8 0.05%, #4ad4ff 99.24%);
  color: #fff;
}
.MMFrame.MMOverride .ViewPageButton:hover {
  box-shadow: 2px 2px 10px #000;
  background: linear-gradient(270.05deg, #56bfdf 0.05%, #74dcfc 99.24%);
}
.MMFrame.MMOverride .Description {
  color: rgba(229, 229, 229, 0.75);
}
.OtherYearLink {
  background: #2d73ff;
}
.OtherYearLink:hover {
  background: #fff;
  color: #222;
}
@keyframes scaleBackground {
  to {
    background-size: 120%;
  }
}
.ImagesCtn {
  background: radial-gradient(
    98.31% 133.89% at 12.99% -30%,
    #693f00 10%,
    #33005c 62.6%,
    #022216 90%,
    transparent
  );
  background-size: 100%;
  animation: scaleBackground forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.SingleGame {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #925801 0%,
    #2c0050 52.6%
  );
}
.SingleGame .ImageTint {
  background: linear-gradient(135deg, #925801 0%, #2c0050 100%);
}
.Section {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #925801 0%,
    #2c0050 52.6%,
    #022216
  );
}
.StreakSizeFullBar {
  background-color: #fff;
}
.LongestStreakBgImage {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #925801 0%,
      #2c0050 52.6%,
      #022216
    ), url(/public/images/yearinreview/streak_bg_large.webp);
}
.Tab.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
.UserName {
  color: #c48100;
}
.ConclusionName {
  color: #c48100;
}
.GridItem.Game0 {
  background: linear-gradient(90deg, #925801 10%, #2c0050 164%, #022216 289%);
}
.GridItem.Game1 {
  background: linear-gradient(90deg, #925801 -55%, #2c0050 68%, #022216 194%);
}
.GridItem.Game2 {
  background: linear-gradient(90deg, #925801 -155%, #2c0050 2%, #022216 73%);
}
.GridItem.AchievementBlock {
  background: linear-gradient(147.86deg, #c48100 25.78%, #2c0050 101.81%);
}
.GridItem.StreakBlock {
  background: radial-gradient(100% 50% at 50% -10%, #c48100 0%, #2c0050 100%);
}
.GridItem.HardwareBlock {
  background: linear-gradient(147.86deg, #925801 25.78%, #2c0050 79.81%);
}
.GridItem.DeviceBlock {
  background: linear-gradient(147.86deg, #925801 25.78%, #2c0050 79.81%);
}
.SummaryCtn {
  background: conic-gradient(
    from 160deg at 113% -17%,
    #925801 30deg,
    #0a6040 71deg,
    #2c0050 125deg
  );
}
.TimeRelatedCtn {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #925801 0%,
    #2c0050,
    #022216
  );
}
.TopHonorsSection {
  background: conic-gradient(
    from 360deg at -8% 50%,
    rgba(146, 88, 1, 0.3) 33deg,
    #2c0050 66deg,
    #022216 145deg
  );
}
.FriendCtn {
  background: #48067f;
}
.TopGameBlockContainer.OddGradient {
  background: conic-gradient(
      from 87deg at -8.32% 0%,
      #693f004d 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 42.3303329945deg,
      #33005c 96.4028513432deg
    ), #000;
}
.TopGameBlockContainer.EvenGradient {
  background: conic-gradient(
      from -90deg at 108.32% 100%,
      rgba(105, 63, 0, 0.29) 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 24.2867588997deg,
      #33005c 62.7407902479deg
    ), #000;
}
.TopMostGame .TopGameBlockContainer {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #925801 10%,
    #2c0050 52.6%
  );
}
.GamePlayDetails {
  background: #2c0050;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.PlatformChartsCtn {
  background: radial-gradient(#925801 0%, #150025 40%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: gradient 15s ease infinite;
}
.IconAchievement path {
  fill: #008352;
}
.IconGamesPlayed path {
  fill: #008352;
}
.IconStreak path {
  fill: #008352;
}
.PlayBehaviorContainer .ProgressBarFilled.ProgressBarFilledGradient {
  background: linear-gradient(to right, #008352 0%, #6a00df 50%, #925801 90%);
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(1) {
  background-color: #d67070;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(2) {
  background-color: #683db4;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(3) {
  background-color: #3898b0;
}
.PlayBehaviorContainer .NewActive .DataBoxArrow.Background,
.PlayBehaviorContainer .NewActive .UserData.DataBox.Background {
  background-color: #d67070;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox.Border {
  border: 4px dotted #d67070;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .NewActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #d67070;
}
.PlayBehaviorContainer .UsedActive .DataBoxArrow.Background,
.PlayBehaviorContainer .UsedActive .UserData.DataBox.Background {
  background-color: #683db4;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox.Border {
  border: 4px dotted #683db4;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .UsedActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #683db4;
}
.PlayBehaviorContainer .OldActive .DataBoxArrow.Background,
.PlayBehaviorContainer .OldActive .UserData.DataBox.Background {
  background-color: #3898b0;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox.Border {
  border: 4px dotted #3898b0;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .OldActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #3898b0;
}
.AllGamesBGImage {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #d3d9203a 0%,
      #d3d9203a 52.6%,
      #d3d9203a
    ), url(/public/images/yearinreview/steam_logo_offset.png);
}
.SeeRewindButton {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.SeeRewindButton:hover {
  filter: brightness(110%);
  color: #fff;
}
.MMFrame.MMOverride {
  background: radial-gradient(
    98.31% 133.89% at 12.99% 12.25%,
    #925801 10%,
    #2c0050 62.6%,
    #022216 90%
  );
}
.MMFrame.MMOverride .Header {
  color: #c48100;
}
.MMFrame.MMOverride .YearSubtitle {
  color: #c48100;
}
.MMFrame.MMOverride .ReplayLogo {
  color: #c48100;
}
.MMFrame.MMOverride .ReplayLogoAccent {
  fill: #c48100;
}
.MMFrame.MMOverride .Hashtag {
  color: #c48100;
}
.MMFrame.MMOverride .Avatar {
  border-color: #c48100;
  border-radius: 2px;
}
.MMFrame.MMOverride .DataBlock {
  color: #f1f1f1;
}
.MMFrame.MMOverride .DataBlock .PersonaName {
  color: #c48100;
}
.MMFrame.MMOverride .DataBlock .ReplayHighlight {
  color: #f1f1f1;
}
.MMFrame.MMOverride .ViewPageButton {
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
.MMFrame.MMOverride .ViewPageButton:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
}
.MMFrame.MMOverride .Description {
  color: #f1f1f1;
  opacity: 0.7;
}
.OtherYearLink {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.OtherYearLink:hover {
  filter: brightness(110%);
  color: #fff;
}
@keyframes scaleBackground {
  to {
    background-size: 120%;
  }
}
.ImagesCtn {
  background: linear-gradient(
    -23deg,
    black 0%,
    #003a3d 10%,
    #01787f 52.6%,
    #003a3d 70%,
    transparent
  );
  background-size: 100%;
  animation: scaleBackground forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.SingleGame {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #01a2ab 0%,
    #bf404c 52.6%
  );
}
.SingleGame .ImageTint {
  background: linear-gradient(135deg, #01a2ab 0%, #bf404c 100%);
}
.Section {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #01a2ab 0%,
    #003a3d 52.6%,
    #01787f
  );
}
.Section .LongestStreakBgImage {
  background-image: url(/public/images/yearinreview/streak_bg_large.webp);
  opacity: 0.1;
}
.StreakSizeFullBar {
  background-color: #fff;
}
.Tab.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
.UserName {
  color: #cc6670;
}
.ConclusionName {
  color: #cc6670;
}
.SummaryCtnShadow:nth-child(1) .GridItem {
  background: radial-gradient(
    200% 152.89% at 48.99% 37.25%,
    #01787f 10%,
    #602026 70%,
    black 100%
  );
}
.SummaryCtnShadow:nth-child(2) .GridItem {
  background: radial-gradient(
    100% 110% at 48.99% 37.25%,
    #602026 10%,
    #2e0f12 70%,
    black 100%
  );
}
.SummaryCtnShadow:nth-child(3) .GridItem {
  background: radial-gradient(
    100% 110% at 48.99% 37.25%,
    #602026 10%,
    #2e0f12 70%,
    black 100%
  );
}
.SummaryCtnShadow:nth-child(4) .GridItem {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #01a2ab 10%,
    #cc6670 70%,
    #01a2ab 120%
  );
}
.SummaryCtnShadow:nth-child(4) .GridItem .BackgroundImage {
  mix-blend-mode: unset;
  opacity: 0.5;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 8%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 8%, rgba(0, 0, 0, 0) 75%);
}
.SummaryCtnShadow:nth-child(5) .GridItem {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #01a2ab 10%,
    #cc6670 70%,
    #01a2ab 120%
  );
}
.SummaryCtnShadow:nth-child(5) .GridItem .BackgroundImage {
  mix-blend-mode: unset;
  opacity: 0.5;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 8%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 8%, rgba(0, 0, 0, 0) 75%);
}
.SummaryCtnShadow:nth-child(6) .GridItem {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #01a2ab 10%,
    #cc6670 70%,
    #01a2ab 120%
  );
}
.SummaryCtnShadow:nth-child(6) .GridItem .BackgroundImage {
  mix-blend-mode: unset;
  opacity: 0.5;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 8%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 8%, rgba(0, 0, 0, 0) 75%);
}
.TimeRelatedCtn {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #01a2ab 0%,
    #bf404c,
    #01787f
  );
}
.FriendCtn {
  background: #cc6670;
}
.TopGameBlockContainer .BackgroundImageFull {
  display: block;
  filter: blur(160px);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.6;
}
.TopGameBlockContainer.OddGradient {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
.TopGameBlockContainer.EvenGradient {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
.TopMostGame .TopGameBlockContainer {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
.GamePlayDetails {
  background: #bf404c;
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.PlatformChartsCtn {
  background: radial-gradient(#01a2ab 0%, #00191a 40%);
  background-size: 300% 200%;
  background-position: 0% 0%;
  animation: gradient 15s ease infinite;
}
.TopHonorsSection {
  background: radial-gradient(
    125% 125% at -8% 50%,
    #01a2ab 10%,
    #003a3d 50%,
    #01787f 100%
  );
}
.TopHonorsSection .SectionDesc span {
  color: #cc6670;
}
.IconAchievement path {
  fill: #01a2ab;
}
.IconGamesPlayed path {
  fill: #01a2ab;
}
.IconStreak path {
  fill: #01a2ab;
}
.PlayBehaviorContainer .ProgressBarFilled.ProgressBarFilledGradient {
  background: linear-gradient(to right, #602026 0%, #cc6670 50%, #01a2ab 90%);
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(1) {
  background-color: #34f3fe;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(2) {
  background-color: #cc6670;
}
.PlayBehaviorContainer .GameNewnessTitle div:nth-of-type(3) {
  background-color: #f4d760;
}
.PlayBehaviorContainer .NewActive .DataBoxArrow.Background,
.PlayBehaviorContainer .NewActive .UserData.DataBox.Background {
  background-color: #34f3fe;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox.Border {
  border: 4px dotted #34f3fe;
}
.PlayBehaviorContainer .NewActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .NewActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #34f3fe;
}
.PlayBehaviorContainer .UsedActive .DataBoxArrow.Background,
.PlayBehaviorContainer .UsedActive .UserData.DataBox.Background {
  background-color: #cc6670;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox.Border {
  border: 4px dotted #cc6670;
}
.PlayBehaviorContainer .UsedActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .UsedActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #cc6670;
}
.PlayBehaviorContainer .OldActive .DataBoxArrow.Background,
.PlayBehaviorContainer .OldActive .UserData.DataBox.Background {
  background-color: #f4d760;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox.Border {
  border: 4px dotted #f4d760;
}
.PlayBehaviorContainer .OldActive .SteamData.DataBox .PercentageLabel.Color,
.PlayBehaviorContainer
  .OldActive
  .SteamData.DataBox
  .PercentageDescriptionLabel.Color {
  color: #f4d760;
}
.AllGamesBGImage {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #d3d9203a 0%,
      #d3d9203a 52.6%,
      #d3d9203a
    ), url(/public/images/yearinreview/steam_logo_offset.png);
}
.SeeRewindButton {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.SeeRewindButton:hover {
  filter: brightness(110%);
  color: #fff;
}
.MMFrame.MMOverride {
  background: linear-gradient(-23deg, black 0%, #003a3d 70%, #01787f 98%);
}
.MMFrame.MMOverride .Header {
  color: #01a2ab;
}
.MMFrame.MMOverride .YearSubtitle {
  color: #01a2ab;
}
.MMFrame.MMOverride .ReplayLogo {
  color: #01a2ab;
}
.MMFrame.MMOverride .ReplayLogoAccent {
  fill: #01a2ab;
}
.MMFrame.MMOverride .Hashtag {
  color: #01a2ab;
}
.MMFrame.MMOverride .Avatar {
  border-color: #01a2ab;
  border-radius: 2px;
}
.MMFrame.MMOverride .DataBlock {
  color: #f1f1f1;
}
.MMFrame.MMOverride .DataBlock .PersonaName {
  color: #cc6670;
}
.MMFrame.MMOverride .ViewPageButton {
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
.MMFrame.MMOverride .ViewPageButton:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
}
.MMFrame.MMOverride .Description {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.BasicUI .MMFrame.MMOverride .Description {
  font-size: 20px;
}
.OtherYearLink {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.OtherYearLink:hover {
  filter: brightness(110%);
  color: #fff;
}
