.SocialMediaRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.SocialMediaRow .SocialMediaType {
  flex-basis: 20%;
  font-size: 14px;
  color: #e5e5e5;
  padding-top: 2px;
}
.SocialMediaRow .SocialMediaLink {
  flex-basis: 40%;
  width: 100%;
}
.SocialMediaRow .SocialMediaTooltip {
  margin-left: 3px;
}
.SocialMediaRow .ValidationError {
  flex-basis: 35%;
  color: orange;
  margin-left: 5px;
}
.AddLinkDropDown {
  max-width: fit-content;
}
.WhitelistCtn {
  margin-bottom: 8px;
  margin-top: 8px;
  border-top: 2px solid #333740;
  border-bottom: 2px solid #333740;
  padding-top: 2px;
  padding-bottom: 2px;
}
.WhitelistCtn .WhitelistRow {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2b2e36;
  padding: 4px;
  margin-bottom: 2px;
  user-select: none;
  box-sizing: border-box;
}
.WhitelistCtn .WhitelistRow .WhitelistNumber {
  width: 34px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #2a2e34;
  margin-right: 8px;
  padding: 0 4px 0 6px;
}
.WhitelistCtn .WhitelistRow .WhitelistNumber.Disabled {
  cursor: not-allowed;
}
.WhitelistCtn .WhitelistRow .WhitelistNumber.Grabbing {
  opacity: 0.5;
}
.WhitelistCtn .WhitelistRow.DragActive {
  pointer-events: none;
}
.WhitelistCtn .WhitelistRow.Dropped {
  animation: JumpToSection .5s ease-out;
}
@keyframes JumpToSection {
  0% {
    background-color: #b0b0b0;
  }
  100% {
    background-color: #333740;
  }
}
.WhitelistCtn .WhitelistRow.BeingDragged {
  opacity: 0.5;
}
.WhitelistCtn .DragGhost {
  pointer-events: none;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3), 0 -6px 12px rgba(0, 0, 0, 0.15);
}
.Grabbable {
  cursor: grab;
}
.Grabbing {
  cursor: grabbing;
}
.DisabledGrab {
  cursor: not-allowed;
}
.WhitelistAvatar {
  margin-right: 8px;
}
.WhitelistAvatar.Grabbing {
  opacity: 0.5;
}
.ButtonCtn {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.DragHighlightContainer {
  position: relative;
  height: 0;
  pointer-events: none;
  z-index: 1;
}
.DragHighlightContainer .DragHighlight {
  height: 2px;
  background-color: #ddd;
  position: absolute;
  top: -1;
}
.LoadingWrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.LoadingWrapper.Static {
  animation-name: none;
}
.LoadingWrapper.Static * {
  animation-name: none !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
.LoadingWrapper.Static .bottomCircle path {
  stroke-width: 0 !important;
}
.LoadingWrapper.noString {
  flex-direction: row;
}
.LoadingWrapper .Throbber,
.LoadingWrapper .SVGIcon_Throbber,
.LoadingWrapper .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.LoadingWrapper .Throbber {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.LoadingWrapper.throbber_small .Throbber {
  width: 32px;
  height: 32px;
}
.LoadingWrapper.throbber_medium .Throbber {
  width: 64px;
  height: 64px;
}
.LoadingWrapper.throbber_large .Throbber {
  width: 92px;
  height: 92px;
}
.throbber_center_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ThrobberText,
.LoadingWrapper .ThrobberText {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
.LoadingWrapper.throbber_medium .ThrobberText {
  margin-top: 4px;
}
.LoadingWrapper.throbber_small .ThrobberText {
  margin-top: 2px;
}
.LoadingWrapper .SVGIcon_Throbber.blur {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
.LoadingWrapper .SVGIcon_Throbber.blur path {
  stroke: #4375fd;
}
.LoadingWrapper .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: ThrobberRoundLoop;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline,
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline {
  display: none;
}
@keyframes ThrobberRoundLoop {
  to {
    stroke-dashoffset: -232;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundFill {
  animation-name: ThrobberFillLoop;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ThrobberFillLoop {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
.LoadingWrapper .SVGIcon_Throbber .topCircle .circlePulse,
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  stroke: #67c1f5;
  animation-name: ThrobberTopCircleLoop;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  animation-name: ThrobberBottomCircleLoop;
}
.LoadingWrapper .SVGIcon_Throbber .bottomCircle path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: ThrobberBottomCircleLoop;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ThrobberTopCircleLoop {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes ThrobberBottomCircleLoop {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-name: ThrobberRoundLoopThickness;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02 {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04 {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05 {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06 {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07 {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08 {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10 {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12 {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13 {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14 {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15 {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes ThrobberRoundLoopThickness {
  100% {
    stroke-dashoffset: -1100;
  }
}
.throbber_small {
  width: 36px;
  height: 36px;
}
.throbber_medium {
  width: 64px;
  height: 64px;
}
.throbber_large {
  width: 92px;
  height: 92px;
}
.throbber_xlarge {
  width: 120px;
  height: 120px;
}
.throbber_xxlarge {
  width: 240px;
  height: 240px;
}
.ThrobberDelayAppear {
  opacity: 0;
  transition: opacity 1s;
}
.ThrobberDelayAppear.Visible {
  opacity: 1;
}
.NewThrobber img {
  width: 100%;
}
