.LoadingWrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.LoadingWrapper.Static {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
.LoadingWrapper.Static * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
.LoadingWrapper.Static .bottomCircle path {
  stroke-width: 0 !important;
}
.LoadingWrapper.noString {
  flex-direction: row;
}
.LoadingWrapper .Throbber,
.LoadingWrapper .SVGIcon_Throbber,
.LoadingWrapper .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.LoadingWrapper .Throbber {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.LoadingWrapper.throbber_small .Throbber {
  width: 32px;
  height: 32px;
}
.LoadingWrapper.throbber_medium .Throbber {
  width: 64px;
  height: 64px;
}
.LoadingWrapper.throbber_large .Throbber {
  width: 92px;
  height: 92px;
}
.throbber_center_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ThrobberText,
.LoadingWrapper .ThrobberText {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
.LoadingWrapper.throbber_medium .ThrobberText {
  margin-top: 4px;
}
.LoadingWrapper.throbber_small .ThrobberText {
  margin-top: 2px;
}
.LoadingWrapper .SVGIcon_Throbber.blur {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
.LoadingWrapper .SVGIcon_Throbber.blur path {
  stroke: #4375fd;
}
.LoadingWrapper .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline,
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundFill {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
.LoadingWrapper
  .SVGIcon_Throbber
  .topCircle
  .circlePulse,
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
.LoadingWrapper .SVGIcon_Throbber .bottomCircle path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02 {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04 {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05 {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06 {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07 {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08 {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10 {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12 {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13 {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14 {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15 {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
.throbber_small {
  width: 36px;
  height: 36px;
}
.throbber_medium {
  width: 64px;
  height: 64px;
}
.throbber_large {
  width: 92px;
  height: 92px;
}
.throbber_xlarge {
  width: 120px;
  height: 120px;
}
.throbber_xxlarge {
  width: 240px;
  height: 240px;
}
.ThrobberDelayAppear {
  opacity: 0;
  transition: opacity 1s;
}
.ThrobberDelayAppear.Visible {
  opacity: 1;
}
.NewThrobber img {
  width: 100%;
}
.ErrorDiv {
  background-color: hotpink;
  border: 1px solid;
  padding: 10px;
}
.PopupScreenshotModal .DialogContentFullSize .DialogContent_InnerWidth {
  overflow: hidden;
}
.PopupScreenshotContainer {
  width: fit-content;
  height: fit-content;
}
.PopupFullWindow .PopupScreenshotContainer {
  width: calc(100vw - 48px);
}
.PopupScreenshot {
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 80vw;
}
.ButtonCtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
.ButtonIcon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
.ButtonIcon:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.ButtonIcon.Disabled {
  opacity: 0.5;
  pointer-events: none;
}

.PreviewCtn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PreviewCtn img {
  display: block;
}
.PreviewCtn .SVG {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  opacity: 0;
  transition: opacity .2s ease-in;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
}
.PreviewCtn:hover {
  cursor: pointer;
}
.PreviewCtn:hover .SVG {
  opacity: 0.5;
}
.Container {
  padding-top: 5px;
}
.Container h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  .StoreHeaderAdjust {
    margin-top: 58px;
  }
}
.SectionButtonCtn {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
.SectionButton {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
.SectionButton:hover {
  border: 1px solid #fff;
}
.EventsSummariesCtn {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI .EventsSummariesCtn {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
.LatestUpdateButtonCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LatestUpdateIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.LatestUpdateIcon svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
.LatestUpdateButton {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
.LatestUpdateButton:hover {
  border: 1px solid #fff;
}
.Ctn {
  position: relative;
}
.RssInput {
  position: relative;
}
.PreviewListCtn {
  position: relative;
  border-top: 1px solid #3d4450;
  padding-top: 10px;
}
.PostCtn {
  width: 100%;
  padding: 20px 10px 10px 10px;
  box-sizing: border-box;
  background: rgba(59, 63, 72, 0.5);
  margin-bottom: 8px;
  border-radius: 4px;
}
.PostCtn .PostTitle {
  font-size: 19px;
  color: #fff;
  line-height: 19px;
  font-weight: 300;
  margin-right: 12px;
}
.PostCtn.ActivePost {
  background: rgba(57, 78, 38, 0.5);
}
.PostCtn.ActivePost .PostDate {
  display: block;
}
.PostCtn.ErrorPost {
  background: rgba(157, 78, 38, 0.5);
}
.PostCtn.ErrorPost .PostDate {
  display: block;
}
.PostDate {
  color: #d2e885;
  font-size: 11px;
}
.PostDraft {
  color: #e8bd85;
  font-size: 11px;
}
.PostDraft.PostStaged {
  display: block;
}
.PreviewListBtn {
  min-width: 150px;
  width: 30%;
  margin-bottom: 8px;
}
.PreviewButtons {
  min-width: 150px;
}
.UrlSettingCtn {
  width: 100%;
  align-items: center;
}
.UrlSettingCtn > div {
  flex-grow: 1;
}
.UrlSettingCtn > a {
  height: fit-content;
  margin-left: 12px;
}
.Error {
  color: darkred;
}
.DialogPostTitle {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 8px 0px;
  color: #fff;
}
.DashboardBtn a {
  margin-top: 8px;
  display: inline-block;
}
.admin_content textarea.RawRSS {
  width: 80vw;
  max-width: 570px;
  height: 400px;
  cursor: text;
  background: transparent;
  color: wheat;
  font-size: 14px;
  border: 1px solid #464c58;
  padding: 10px;
  border-radius: 4px;
}
.ButtonCtn {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  justify-content: start;
}
.ButtonCtn .PreviewBtn {
  margin-right: 4px;
  display: block;
}
.ButtonCtn .ViewRaw {
  margin-left: auto;
  text-decoration: underline;
}
.ButtonCtn .ViewRaw:hover {
  color: #fff;
  cursor: pointer;
}
.LanguageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0px 0px 16px 0px;
  padding: 6px 6px 6px 12px;
  border: none;
  border-radius: 3px;
}
.LanguageRow .LanguageTitle {
  font-weight: 400;
  margin-right: 4px;
}
.LanguageRow .LanguageSet {
  flex-grow: 1;
  text-transform: capitalize;
}
.SectionContainer {
  min-height: 250px;
}
.ModSectionTitle {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.ResizeButton {
  max-width: 50px;
}
.TileContainer {
  width: 100%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  background: #262626;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 12px;
}
.TileContainer .CreatorCtn {
  max-width: 600px;
  min-width: 300px;
}
.TileSpread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Error {
  color: darkred;
}
.ModeratorAuditActionCtn {
  margin-bottom: 10px;
}
.ModeratorAuditActionCtn > div {
  display: inline;
}
.ModeratorAuditActionCtn > span {
  display: block;
}
.ExpandModActions {
  cursor: pointer;
}
.AnalysisCtn {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 6px;
}
.AnalysisMissing {
  color: darkred;
}
.ModerationContainer {
  padding: 10px;
}
.ModerationContainer .FilterContainer {
  min-width: 160px;
}
.Tile {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
.Tile a:hover {
  color: aqua;
}
.Tile .DetailsMiddle .EventModerateMarkReview,
.Tile .DetailsMiddle .EventModerateMarkReReview {
  background: #800;
}
.Tile .DetailsMiddle .EventModerateMarkReview:hover,
.Tile .DetailsMiddle .EventModerateMarkReReview:hover {
  background: #a00;
}
.HalloweenEvent {
  background-color: #f5dcaf;
}
.TileEventOtherType {
  color: darkred;
}
.TileCapsule {
  height: fit-content;
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.TileCapsule img {
  width: 400px;
  height: 255px;
}
.TileCapsule:hover {
  box-shadow: 0 0 12px #000;
}
.NoCapsuleFallback {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #eaa;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000;
}
.NoCapsule {
  box-sizing: border-box;
  width: 400px;
  height: 255px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #eaa;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000;
}
.TileDetails {
  display: flex;
  flex-direction: row;
  color: #000;
  padding: 12px;
  width: 100%;
}
.DetailsLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
}
.DetailsLeft .EventTitle {
  font-size: 21px;
  display: inline-block;
  margin-bottom: 6px;
  color: #000;
}
.DetailsLeft .EventTitle:hover {
  color: #008;
}
.DetailsRight {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
  padding-left: 10px;
}
.DetailsRight .ArtHeader {
  color: green;
}
.DetailsRight .ArtSpotlight {
  color: #ff0;
}
.DetailsMiddle {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
  padding-left: 10px;
}
.DetailsMiddle button {
  margin-bottom: 10px;
}
.ModeratedFlagCtn {
  margin-top: 15px;
}
.ModeratedFlagCtn input[type="checkbox"] + label {
  background-color: tan;
  padding: 4px;
  color: #000;
}
.ModeratedFlagCtn input[type="checkbox"]:checked + label {
  background-color: green;
  padding: 4px;
  color: #fff;
}
.TitleLink {
  font-size: 25px;
}
.TileAppInfo {
  padding: 0px;
}
.TileAppInfoTitle {
  font-weight: bolder;
}
.TileAppInfoTitle div {
  width: fit-content;
}
.TileAppInfoTitle a {
  color: #000;
  font-size: 14px;
  display: inline-block;
}
.TileAppInfoTitle a:hover {
  color: #008;
}
.TileAppInfoImage {
  width: 150px;
  height: auto;
}
.TileAppInfoImage:hover {
  box-shadow: 0 0 12px #000;
}
.TileSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.TileTitle {
  font-weight: bold;
  font-size: 14px;
}
.TimeWidth {
  max-width: 200px;
}
.CategoryChangeDialog {
  height: 400px;
}
h4 {
  margin-bottom: 5px;
}
.Button {
  border: 1px gray outset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.RightSideTitles {
  text-transform: uppercase;
}
.DateAndTime {
  display: flex;
}
@media screen and (max-width: 910px) {
  .StoreHeaderAdjust {
    margin-top: 58px;
  }
}
.LastUpdateTime {
  font-size: 16px;
  margin-bottom: 4px;
}
.EventTimingBlock {
  padding: 8px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  background-color: #888;
}
.TileEventType {
  font-size: 16px;
}
.ChannelInfo {
  margin-top: auto;
}
.HasAdultContent {
  background-color: #400;
  color: #fff;
  font-size: 14px;
  margin-top: 4px;
  padding: 6px;
  width: fit-content;
}
/*!
 * https://github.com/arqex/react-datetime
 */ .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}
.rdtPicker .rdtTimeToggle {
  text-align: center;
}
.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker td span.rdtOld {
  color: #999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}
.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-of-type th {
  cursor: pointer;
}
.rdtPicker thead tr:first-of-type th:hover {
  background: #eee;
}
.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}
.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}
.rdtPicker thead button {
  width: 100%;
  height: 100%;
}
td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}
.rdtCounters {
  display: inline-block;
}
.rdtCounters > div {
  float: left;
}
.rdtCounter {
  height: 100px;
}
.rdtCounter {
  width: 40px;
}
.rdtCounterSeparator {
  line-height: 100px;
}
.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}
.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}
.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
.rdtTime td {
  cursor: default;
}
.countdownCtn {
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(108, 119, 134, 0.4) 40%,
    rgba(83, 104, 104, 0.4) 100%
  );
  padding: 16px;
  border-radius: 4px;
}
.Closed {
  position: relative;
}
.CountDownCtn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 11px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.CountDownCtn .CountDownTime {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
.CountDownCtn .CountDownText {
  font-size: 16px;
  display: inline;
  margin-left: 8px;
}
.LearnMore {
  position: relative;
}
.Throbber {
  display: flex;
  color: #80caff;
  line-height: 37px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 12px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.WinnerInfo {
  display: inline;
  margin-right: 8px;
}
.WinnerInfo .WinnerCount {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
.WinnerInfo .WinnerText {
  display: inline;
  margin-left: 8px;
}
