.Container {
  background-color: #1c1e26;
  padding: 10px;
}
.SmallAvatar {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
.ShareDescription {
  width: calc(100% - 20px);
  height: 200px;
}
.ShareLink {
  text-overflow: ellipsis;
  overflow: FAQDashboard_Invisible;
}
