.LoadingWrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.LoadingWrapper.Static {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
.LoadingWrapper.Static * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
.LoadingWrapper.Static .bottomCircle path {
  stroke-width: 0 !important;
}
.LoadingWrapper.noString {
  flex-direction: row;
}
.LoadingWrapper .Throbber,
.LoadingWrapper .SVGIcon_Throbber,
.LoadingWrapper .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.LoadingWrapper .Throbber {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.LoadingWrapper.throbber_small .Throbber {
  width: 32px;
  height: 32px;
}
.LoadingWrapper.throbber_medium .Throbber {
  width: 64px;
  height: 64px;
}
.LoadingWrapper.throbber_large .Throbber {
  width: 92px;
  height: 92px;
}
.throbber_center_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ThrobberText,
.LoadingWrapper .ThrobberText {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
.LoadingWrapper.throbber_medium .ThrobberText {
  margin-top: 4px;
}
.LoadingWrapper.throbber_small .ThrobberText {
  margin-top: 2px;
}
.LoadingWrapper .SVGIcon_Throbber.blur {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
.LoadingWrapper .SVGIcon_Throbber.blur path {
  stroke: #4375fd;
}
.LoadingWrapper .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline,
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuter {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.LoadingWrapper .SVGIcon_Throbber .roundOuterOutline {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundFill {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
.LoadingWrapper
  .SVGIcon_Throbber
  .topCircle
  .circlePulse,
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
.LoadingWrapper .SVGIcon_Throbber .topCircle circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
.LoadingWrapper .SVGIcon_Throbber .bottomCircle path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02,
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber01 {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber02 {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber03 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber04 {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber05 {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber06 {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber07 {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber08 {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber09 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber10 {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber11 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber12 {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber13 {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber14 {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
.LoadingWrapper .SVGIcon_Throbber .roundThrobber15 {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
.throbber_small {
  width: 36px;
  height: 36px;
}
.throbber_medium {
  width: 64px;
  height: 64px;
}
.throbber_large {
  width: 92px;
  height: 92px;
}
.throbber_xlarge {
  width: 120px;
  height: 120px;
}
.throbber_xxlarge {
  width: 240px;
  height: 240px;
}
.ThrobberDelayAppear {
  opacity: 0;
  transition: opacity 1s;
}
.ThrobberDelayAppear.Visible {
  opacity: 1;
}
.NewThrobber img {
  width: 100%;
}
.ErrorStyles,
.ErrorStylesWithIcon {
  color: #c44848;
}
.ErrorIconLayout,
.ErrorStylesWithIcon,
.ErrorStylesBackground {
  display: block;
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 6px;
}
.ErrorStylesBackground {
  background-color: #472025;
}
.ErrorStylesWithIcon.ErrorFloatBelow {
  padding: 5px;
  padding-left: 32px;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  background-color: #682d2c;
  z-index: 1;
  box-shadow: 2px 2px 5px #000;
  text-wrap: nowrap;
}
.ErrorStyles > div,
.ErrorStylesWithIcon > div {
  display: inline;
  color: #d78484;
}
.WarningStyles,
.WarningStylesWithIcon {
  color: #b8860b;
}
.WarningIconLayout,
.WarningStylesWithIcon,
.WarningStylesBackground {
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.WarningStylesBackground {
  background-color: #b8860b;
  color: #fff;
}
.WarningStylesBackground .Stuck {
  position: sticky;
  top: 89px;
  z-index: 1;
}
.WarningStylesWithIcon.WarningFloatBelow {
  padding: 5px;
  padding-left: 32px;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  background-color: #523d07;
  z-index: 1;
  box-shadow: 2px 2px 5px #000;
  text-wrap: nowrap;
}
.InfoStyles,
.InfoStylesWithIcon {
  color: #556b2f;
}
.InfoIconLayout,
.InfoStylesWithIcon,
.InfoStylesBackground {
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_spoiler_tag.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.InfoStylesBackground {
  background-color: #556b2f;
  color: #fff;
}
.InfoStylesBackground .Stuck {
  position: sticky;
  top: 89px;
  z-index: 1;
}
.Padding {
  padding-top: 10px;
}
.ModalPosition_Content .NotTooWideModal.DialogContent {
  width: initial;
}
.ModalPosition_Content
  .NotTooWideModal.DialogContent
  .DialogContent_InnerWidth
  > form {
  padding-right: 8px;
}
.ImageManageDialog .DialogFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ImageManageDialog .DialogFooter button.DialogButton {
  margin-left: 8px;
  width: fit-content;
}
.SuccessErrorDialog .DialogFooter .DialogTwoColLayout {
  gap: 8px;
}
.ProgressBar {
  width: 100%;
  height: 6px;
  background-color: var(--color-progress-bar-background);
  border-radius: 2px;
  overflow: hidden;
}
.ProgressBar::after {
  content: "";
  display: block;
  width: calc(100% * var(--percent));
  height: 100%;
  background-color: var(--color-progress-bar-foreground);
}
.ProgressBar.AnimateProgress::after {
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  background-color: var(--color-progress-bar-foreground);
  background-position-x: 0px;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: _2SA1xV5w3BGirkDWosGYoX 2s linear infinite forwards;
}
.ProgressBar.AnimateProgress.Indeterminate::after {
  width: 100%;
  background-color: transparent;
}
@keyframes _2SA1xV5w3BGirkDWosGYoX {
  0% {
    background-position-x: calc(0% - 250px);
  }
  100% {
    background-position-x: calc(100% + 250px);
  }
}
.Circular {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Circular.Full svg {
  filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 16px #1a9fff)
    drop-shadow(10px 10px 16px #1a9fff);
}
.ProfileSubPageContainer {
  max-width: 978px;
  margin: 0 auto;
  background-color: #1d2e47;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
body.item_collection_page {
  background-color: #000;
}
.AppHeaderCtn {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-top: 100px;
}
.AppHeaderCtn img {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}
.AppHeaderCtn .AppHeaderRow {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 851px) {
  .AppHeaderCtn .AppHeaderRow {
    flex-direction: column;
  }
}
.AppHeaderCtn .AppName {
  font-size: clamp(26px, 4vw, 34px);
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin-right: 8px;
}
.AppHeaderCtn .PageName {
  font-size: clamp(26px, 4vw, 34px);
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}
.AppHeaderCtn .PageSubTitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.PageSection {
  padding: 30px;
  color: #fff;
  font-size: 14px;
}
.BackgroundGradient {
  background: radial-gradient(
    280.17% 292.85% at 111.06% 95.28%,
    rgba(0, 0, 0, 0) 29.5%,
    rgba(0, 0, 0, 0.89) 100%
  );
}
.BackgroundGradient.Highlight {
  background: radial-gradient(
    280.17% 292.85% at 111.06% 95.28%,
    rgba(0, 0, 0, 0) 29.5%,
    rgba(250, 0, 0, 0.89) 100%
  );
}
.ItemSection {
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}
.HowToGet {
  font-size: 21px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
}
.FreeQuestCtn .PageSection {
  padding: unset;
}
.FreeQuestCtn .QuestInstructions {
  position: relative;
  padding: 16px;
  margin-bottom: 30px;
  background: linear-gradient(180deg, #ffffff25 10%, #c7d2e221 90%);
  color: rgba(255, 255, 255, 0.5);
}
.FreeQuestCtn .QuestInstructions .QuestName {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
.FreeQuestCtn .QuestInstructions:after {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #c7d2e221;
  border-width: 15px;
  margin-left: -15px;
}
.ProgressBar {
  margin-top: 6px;
  width: 100%;
  --color-progress-bar-background: black;
  --color-progress-bar-foreground: #3569a3;
}
.ItemCategoryCtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ItemCategoryCtn .CategoryName {
  font-size: 1.05rem;
  color: #c5cbd8;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1rem;
  display: flex;
  align-items: center;
}
.ItemCategoryCtn .SectionLine {
  flex-grow: 1;
  height: 1px;
  align-self: center;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #5b6266;
}
.ItemCategoryCtn .PointShopLink {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #c5cbd8;
  font-size: .75rem;
  font-weight: 100;
  letter-spacing: .0625rem;
  line-height: 1.125rem;
  padding: 2px 8px;
  margin-left: 8px;
  transition: color .2s ease-in-out;
}
.ItemCategoryCtn .PointShopLink:hover {
  color: #fff;
}
.ItemCtn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 499px) {
  .ItemCtn {
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(55px, 1fr));
    gap: 10px;
  }
}
.ProgressIndicationCtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 499px) {
  .ProgressIndicationCtn {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.ProgressIndicationCtn .ProgressText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.ItemBackground {
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.2);
  padding: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 499px) {
  .ItemBackground {
    width: 55px;
    height: 55px;
    padding: 6px;
  }
}
.ImgCtn {
  width: 100%;
  height: auto;
}
.ImgGrey {
  mix-blend-mode: luminosity;
  opacity: 0.5;
}
.PageBackground {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.PageBackground video {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 940px) {
  .PageBackground video {
    min-width: 940px;
    right: 0;
    left: unset;
    transform: unset;
  }
}
